body h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
.ig-typography {
  font-family: $font-family-sans-serif !important;
  font-family: "Poppins", sans-serif !important;
}

.card-subtitle,
th {
  font-weight: $headings-font-weight !important;
}

h5 {
  color: $gray-1 !important;
}

// .table,
// table {
//   th {
//     background: $table-header-color !important;
//   }
// }

// th {
//   color: $gray2;
//   // background: $bg1 !important;
//   background: $table-header-color !important;
//   border-bottom: 1px solid $border-bottom !important;
//   font-size: $font-size-base !important;
// }

// tr:hover {
//   background: $bg1 !important;
// }

.label_name {
  color: $gray3;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper:focus-visible,
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper:focus {
  border: 1px solid $red !important;
}

.mat-mdc-table svg,
.input-group-append,
.header-user-profile span,
.reason:hover {
  cursor: pointer;
}

.confirmation-card.delete_popup {
  width: auto !important;
  padding: 25px;
}

.update_icon svg path {
  fill: $blue !important;
}

.btn_hover:hover svg {
  fill: $yellow;
}

.disable_icon:enabled:hover svg {
  stroke: $yellow;
}

.disable_icon:disabled:hover svg {
  stroke: none;
}

.green {
  border: 1px solid $green !important;
  color: $green !important;
  background: $white !important;
}

.red {
  border: 1px solid $red !important;
  color: $red !important;
  background: $white !important;
}

.delete_popup_btn .green:hover .mat-mdc-button-ripple {
  background-color: $green !important;
}

.delete_popup_btn .red:hover .mat-mdc-button-ripple {
  background-color: $red !important;
}

.green:hover,
.red:hover {
  color: $white !important;
}

.green:active,
.red:active,
.delete_popup .mat-mdc-button-ripple {
  background: $white !important;
}

.leave_form .mdc-line-ripple::before {
  border: none;
}

.apply_leave {
  box-shadow: none !important;
}

.leave_form .container {
  max-width: none;
}

.leave_form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after,
.Attendance_view .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {

  border-bottom-color: $white !important;
}

.Attendance_view .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: $white;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

// .Attendance_view .mat-mdc-form-field-infix{
//   width: 130px;
// }

// .Attendance_view .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
//   background-color: #0d6efd !important;
//   color: $white;
// }

// .Attendance_view .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
//   border: 1px solid #0d6efd !important;
//   background-color: #0d6efd !important;
//   color: $white;
// }

// .Attendance_view .mdc-icon-button:hover{
//   background-color: rgba(24, 144, 255, 0.1);
// }

// .Attendance_view a:hover{
//   color: $blue;
// }

// .Attendance_view a{
//   font-size: 18px;
// }

// .missing_time{
//   width: 75px;
// }

.reason {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  max-width: 160px;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.mat-mdc-progress-spinner {
  width: 30px !important;
  height: 30px !important;
}

/* Adjust the styling of the progress spinner as needed */
.mat-progress-spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #007bff;
}

.reason {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 200px;
  position: relative;
}

.missing_time_clock svg {
  width: 20px;
  height: 20px;
}

.missing_time_clock .ngx-timepicker-control__arrow[_ngcontent-ng-c428690013],
.missing_time_clock .period-control__arrow[_ngcontent-ng-c200892099] {
  font-size: 9px;
}

.search .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

// .leave_table .reason{
//   background: transparent;
// }

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix,
.coded-navbar .coded-inner-navbar li>a>.coded-micon .fa.fa-address-card-o,
.coded-navbar .coded-inner-navbar li>a>.coded-micon .fa.fa-user-circle-o {
  font-size: 15px;
}


// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{  
// width: inherit;
// }

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: $blue !important;
}

.icon_width {
  width: 6%;

  :hover {
    cursor: pointer;
  }
}

.mat-mdc-form-field,
.mat-mdc-form-field-flex,
.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input,
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix,
.leave_form .mat-mdc-form-field,
.search .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix,
.search .mat-mdc-form-field-subscript-wrapper,
.search_box .mat-mdc-form-field-flex {
  outline: none;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: $gray4 !important;
}

// .mdc-switch:enabled .mdc-switch__track::after {
//   background: $blue !important;
// }

// .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
//   background: $blue !important;
// }
.mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: #3e4095 !important;
}

// .mdc-switch:enabled .mdc-switch__track::after {
//   background: #bee0fc !important;
// }
.mdc-switch:enabled .mdc-switch__track::after {
  background: #cfcffd !important;
}


.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: $blue;
  --mdc-switch-selected-handle-color: $blue;
  --mdc-switch-selected-hover-state-layer-color: $blue;
  --mdc-switch-selected-pressed-state-layer-color: $blue;
  --mdc-switch-selected-focus-handle-color: #2d7ec9;
  --mdc-switch-selected-hover-handle-color: #2d7ec9;
  --mdc-switch-selected-pressed-handle-color: #2d7ec9;
  --mdc-switch-selected-focus-track-color: #bee0fc;
  --mdc-switch-selected-hover-track-color: #bee0fc;
  --mdc-switch-selected-pressed-track-color: #bee0fc;
  --mdc-switch-selected-track-color: #bee0fc;
}

.card .mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color: $blue;
  --mdc-switch-selected-handle-color: $blue;
  --mdc-switch-selected-hover-state-layer-color: $blue;
  --mdc-switch-selected-pressed-state-layer-color: $blue;
  --mdc-switch-selected-focus-handle-color: $blue;
  --mdc-switch-selected-hover-handle-color: $blue;
  --mdc-switch-selected-pressed-handle-color: $blue;
}

.ngx-timepicker-control__input {
  font-size: $font-size-base !important;
}

.ngx-timepicker-control__arrow {
  font-size: $font-size1 !important;
}

.regularization_time svg {
  height: $font-size2;
  width: $font-size2;
}

.search .mat-mdc-form-field:focus-visible {
  flex-direction: inherit;
}


.year_select_box .form-select:focus {
  box-shadow: none;
}

.total_leave .border-right {
  border-right: 1px solid $gray-200;
}

.pc-header.apply_leave_serach .header-search .form-control {
  max-width: 100%;
  // padding: 15px 35px;
  padding: 11px 35px;
}

.pc-header.apply_leave_serach .header-search .search-btn {
  // top: 18px;
  top: 13px;
  left: 9px;
}

.year_select_box .mat-mdc-text-field-wrapper {
  background: #fff;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  outline: none;
}

.status .rounded-circle {
  height: 39px;
  width: 40px;
  line-height: 40px;
}

.status .border-right {
  border-right: 1px solid #e6ebf1;
}

.status .border-left {
  border-left: 1px solid #e6ebf1;
}

.month_year .mat-mdc-form-field-infix {
  width: 342px;
}

// total-leave-balance box
.total-leave-balance {
  // padding: 16px 20px;
  border: 2px solid #ff9800;
  // // background: #ffda5a;
  border-radius: 6px;

  .title {
    margin-right: 40px;
    display: flex;
    align-items: center;
    color: #ff9800;

    span {
      font-weight: 600;
    }

    i {
      color: $blue;
      margin-right: 13px;
      font-size: 24px;
    }
  }

  .count {
    height: 40px;
    width: 40px;
    background: #f7e2c2;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;

    span {
      font-size: 18px;
      font-weight: 500;
      color: #ff9800;
    }
  }

}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width:1025px) and (max-width:1356px) {

  // .cdk-overlay-container,
  // .cdk-global-overlay-wrapper {
  //   left: 70px;
  // }

  .mdc-dialog--open .mdc-dialog__container {
    transform: auto;
  }
}

.custome-scroll {
  min-height: 300px;
  height: 300px;
  overflow: hidden;


  &:hover {
    overflow: auto;
    transition: opacity 0.3s ease;
    padding: 0 8px 0 0;

  }
}

.bottom_block_section {
  margin-top: 130px;

  .top_name_section {
    text-align: center;
    background-color: #bbdefb4d;
    margin-bottom: 60px;
    padding: 20px;
    // margin: 13px;
  }


  .image_sec {
    img {
      max-width: 130px;
      height: 130px;
      border: 1px solid #6B7280;
      border-radius: 90px;
    }
  }

  .name_deg {
    p {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 16px;
      color: #000000;

      &:nth-child(2) {
        font-weight: 500;
        color: #6B7280;
        margin-top: 0;
      }
    }
  }

  .logout_btn {
    margin-top: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    span {
      margin-right: 10px;
    }

    .btn {
      background: red;
      border-radius: 50px;
      color: white !important;
      padding: 4px 17px 4px 6px;
      width: 64%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px !important;

      svg {
        width: 40px;
        height: 40px;
      }

    }
  }

  .bottom_image {
    margin-bottom: 60px;

  }
}

.form-control:focus {
  box-shadow: none;
}

.form-group span {
  display: flex !important;
  align-items: center;
  justify-content: start;
}

.emailsetting_tableview {
  table thead th {
    background: #bbdeff !important;
    color: #000;
  }

  table td {
    padding: 5px;
  }
}

.no_data_found_imge {
  //   position: absolute;
  //   top: 40%;
  //   bottom: auto;
  //   left: 40%;
  //   right: auto;
  // height: 100vh;
}

// .img-box {
//   height: 100vh;
// }

table {

  tr {
    td {
      word-wrap: break-word;

      &.text_wrap {
        text-wrap: wrap;
        white-space: normal !important;
        word-break: break-word;
      }
    }
  }

}

.mat-mdc-no-data-row img {
  width: 33% !important;
}

.ri-file-download-fill {
  color: red;
  font-size: 23px;
}

.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: transparent;
}

.h-54 {
  height: 54px;
}

.no_data_found_imge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  bottom: auto;
  left: 0;
  right: 0;
}