.new_leave_detail {
    p {
        color: #000;

    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;
    }

    .mdc-line-ripple {
        display: none;
    }

    .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
        opacity: 0;
    }

    svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
        color: #FFC107;
    }

    .mat-mdc-icon-button .mat-mdc-focus-indicator {
        display: none;
    }

    .mat-mdc-tab-header {
        background-color: white;
    }

    .mat-mdc-option .mdc-list-item__primary-text {
        font-size: 13px !important;
    }

    .mat-mdc-form-field-flex {
        line-height: 37px;
    }

    .mat-mdc-form-field {
        width: 300px;
    }

    ::ng-deep .mat-datepicker-toggle button.mat-icon-button {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    ::ng-deep .mat-datepicker-toggle button.mat-icon-button:hover,
    ::ng-deep .mat-datepicker-toggle button.mat-icon-button:focus {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .mat-datepicker-toggle button.mat-icon-button {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .mat-datepicker-toggle button.mat-icon-button:hover,
    .mat-datepicker-toggle button.mat-icon-button:focus {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
        display: none;
    }

    .mat-mdc-select-min-line {
        font-size: 15px;
        color: #000;
        font-weight: 500;
    }

    .mat-mdc-option .mdc-list-item__primary-text {
        font-size: 14px !important;
    }

    .mat-mdc-menu-content {
        padding: 0;
    }

    .leave_block {
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 17px;
            margin: 0;

            li {
                border: 1px solid #d7e2ed;
                background-color: white;
                width: 200px;
                height: 200px;
                padding: 20px;
                cursor: pointer;
                position: relative;
                margin: 8px;
                border-radius: 7px;

                &:first-child {
                    margin-left: 0;
                }

                .leav_boxes {
                    .leave_type {
                        text-align: center;
                        margin-bottom: 10px;

                        p {
                            margin: 0;
                            font-size: 14px;
                        }
                    }

                    .icon_leave {
                        text-align: center;
                        margin: 11px 0;

                        img {
                            max-width: 45px;
                            border-radius: 8px;
                        }
                    }

                    .seprater {
                        border: 0.1px dashed #e3e5e7;
                        margin: 5px 0;
                    }

                    .leave_detail {
                        .pending_leave {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin-bottom: 2px;

                            p {
                                margin: 0;
                                font-size: 14px;
                                font-weight: 400;

                                &:nth-child(2) {
                                    font-weight: 600;
                                    color: green;
                                }
                            }
                        }

                        .booked_leave {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin-bottom: 8px;

                            p {
                                margin: 0;
                                margin-right: 5px;
                                font-size: 14px;
                                font-weight: 400;


                            }

                            .right_menu {
                                font-weight: 600;
                            }

                            i {
                                font-size: 20px;
                                color: #5d7082;
                            }


                        }



                    }
                }
            }
        }
    }

    .center_calander {
        .mat-mdc-icon-button {
            background: #ffffff;
            border-radius: 5px;
            margin-right: 10px;
        }
    }

    .common_section {
        border: 1px solid #d7e2ed;
        padding: 20px;
        margin: 20px 0 0 0;
    }

    .upcoming_holidays {
        .booked_leave_list {
            margin-top: 20px;

            table {
                width: 100%;
            }
        }
    }

    .upcomi_table {
        border: 1px solid #f5f5f5;

        .leave_type {
            .leave_main {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                p {
                    margin: 0;
                }
            }

            .color_code {
                background: #880e4f;
                width: 18px;
                height: 18px;
                border-radius: 4px;
                margin-right: 10px;
            }

            .day_num {
                position: relative;
                margin-left: 28px;
                display: flex;
                align-items: center;

                &:before {
                    content: "";
                    background: #dddddd;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    margin-left: 10px;
                    left: -23px;
                    top: 10px;
                }

                p {
                    padding-left: 5px;
                }
            }
        }

        .mat-mdc-row {
            height: 54px !important;
        }

        .date_design {
            p {
                margin: 0;
            }
        }

        .reasone {
            p {
                margin: 0;
            }
        }

        .mdc-data-table__cell {
            border: 1px solid #f5f5f5;
        }

        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 7px;
        }

        .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
            height: 47px !important;
        }
    }
}

.main_menu {
    width: 150px;
    position: absolute;
    top: 0;

    .right_menu {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -14px;
            left: 20px;
            border-width: 8px;
            border-style: solid;
            border-color: #f2bc0b transparent transparent transparent;
            transform: rotate(180deg);


        }
    }

    .common_p {
        p {
            margin-bottom: 5px;
            margin-top: 0;
            font-size: 14px;
        }
    }
}

.mat-mdc-menu-content {
    padding: 0px 0px !important;
}

.custom-tooltip_top .mdc-tooltip__surface {
    background-color: #f2bc0b !important;
    color: #000 !important;
    font-size: 14px !important;
    transform: translateY(-5px) !important;

}