.add-project-page {
    .mat-mdc-tab-header {
      display: none !important;
    }
    .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
        top: -20px;
        left: -20px;
    }
  }
  