.universal-form {

  .form-control,
  .mat-mdc-text-field-wrapper {
    background-color: #fff !important;
    font-size: 14px !important;
  }

  .label_name {
    margin-bottom: 12px;
    display: flex;
    font-weight: 600;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    font-size: 14px;
    font-family: $font-family-sans-serif !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-form-field-error {
    margin-top: 8px;
  }

  ::placeholder,
  .mat-mdc-select-placeholder {
    color: #b7b8ba !important;
    font-size: 14px !important;
  }

  ::-ms-input-placeholder,
  .mat-mdc-select-placeholder {
    /* Edge 12 -18 */
    color: #b7b8ba !important;
    font-size: 14px !important;
  }
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined {
  height: 52px !important;
}

.textarea-input {
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined {

    height: auto !important;
  }
}

.mat-mdc-form-field-flex {
  line-height: 33px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 7px;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  font-size: 0.875rem !important;
  top: 26px !important;
}

.mat-mdc-form-field-type-mat-native-select .mat-mdc-form-field-infix::after {
  top: 45% !important;
}