<div class="page-top-header mb-0">
  <h5 class="card-subtitle mt-0">Organization</h5>
</div>
<div class="row px-3">
  <div class="col-sm-12 border rounded bg-white p-3 custom-remove">

 
    <div class="content-box"> 

      <div class="card-body orglist_tableview">
        <div class="table-top">
          <div class="row">
            <div class="col-md-4">
              <div class="pc-h-item  pc-header bg-transparent position-static w-100">
                <form class="header-search d-block w-100">
                  <div class="search-btn">
                    <i class="ti ti-search"></i>
                  </div>
                  <input [(ngModel)]="searchDataValue" (input)="searchData(searchDataValue)" type="search"
                    class="form-control w-100" placeholder="Search..." />
                </form>
              </div>
            </div>
          </div>
        </div>
          <div class="scrollbox scrollbox_delayed mt-3" tabindex="0">
        <div class="fixTableHead  scrollbox-content org-table ">
          <table mat-table class="mat-elevation-z8  shadow-none" [dataSource]="dataSource" matSort>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let row">
                <a href="javascript:void(0);" class="product-img">
                  <img [src]=" row?.logo ? imgBaseUrl + row?.logo : defaultImg " style="width: 55px;" alt="org" />
                </a>
                <span class="ps-2">{{ row?.name }}</span>
              </td>
            </ng-container>

            <!-- Code Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
              <td mat-cell *matCellDef="let row"> {{row.code}} </td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let row"> {{row.title}} </td>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef
                [ngClass]="{ 'd-none': !userRole[0]?.canEdit && !userRole[0]?.canDelete }"> Action </th>
              <td mat-cell *matCellDef="let row"
                [ngClass]="{ 'd-none': !userRole[0]?.canEdit && !userRole[0]?.canDelete }">
                <div class="d-flex align-items-center">
                  <div class="icon_width btn_hover pe-2 me-3" *ngIf="userRole[0]?.canEdit">
                    <span><i class="ri-organization-chart f-18" matTooltip="Structure"
                        (click)="orgaStructure(row?.id)"></i></span>
                  </div>
                  <div class="icon_width btn_hover pe-2 me-3" *ngIf="userRole[0]?.canEdit">
                    <span><i class="ri-settings-2-line f-18" matTooltip="Setting"
                        (click)="orgSettingBtn(row?.id)"></i></span>
                  </div>
                  <div class="icon_width btn_hover pe-2 me-3">
                    <span><i class="ri-file-text-line f-18"
                        [routerLink]="['/organization-details/file-storage-setting']"
                        matTooltip="File Storage"></i></span>
                  </div>
                  <div class="icon_width btn_hover pe-2 me-3">
                    <span><i class="ri-money-dollar-circle-line f-18" matTooltip="Subscription"
                        (click)="onSubscription(row?.id)"></i></span>
                  </div> 
                  <div class="icon_width btn_hover pe-2" *ngIf="userRole[0]?.canEdit"
                    (click)="organizationAuthentication(row?.id)">
                    <i class="ri-user-settings-fill f-18" matTooltip="Authentication"></i>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                <div class="text-center d-block border-bottom-0">
                  <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
                  <h6 class="no-record mt-3">No Data Available</h6>
                </div>
              </td>
            </tr>

          </table>

        </div>
        </div>
        <div class="text-end d-block mt-3">
          <div class="pagination-format d-inline-block">
            <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>