<div class="page-top-header mb-0">
  <h5 class="card-subtitle mt-0">Leave Details</h5>
</div> 
<div class="row px-3">
  <div class="col-sm-12 border rounded bg-white px-0 custom-remove pb-3 userleave_tableview"> 
    <div class="p-3">
      <div class="row mb-3">
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl mb-3">
          <div class="year_select_box">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Year</mat-label>
              <mat-select matNativeControl style="font-size: 0.875rem;" [(ngModel)]="selectedYear"
                (ngModelChange)="onYearSelected($event)" id="year">
                <mat-option class="text-muted" value="">Select Year </mat-option>
                <mat-option class="text-muted" *ngFor="let year of years" [value]="year"> {{year}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl mb-3">
          <div class="year_select_box">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Month</mat-label>
              <mat-select matNativeControl style="font-size: 0.875rem;" [(ngModel)]="selectedMonth"
                (ngModelChange)="onMonthSelected($event)">
                <mat-option class="text-muted" value="">Select Month </mat-option>
                <mat-option class="text-muted" *ngFor="let month of months" [value]="month.value">{{ month.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl mb-3">
          <div class="year_select_box">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Department</mat-label>
              <mat-select matNativeControl style="font-size: 0.875rem;" [(ngModel)]="DepartmentID"
                (ngModelChange)="onDepartmentChange()">
                <mat-option class="text-muted" [value]="">Select Deparment </mat-option>
                <mat-option class="text-muted" *ngFor="let name of DepartmentName" [value]="name.id">{{
                  name.departmentName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- Designation -->
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl mb-3">
          <div class="year_select_box">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Select Designation</mat-label>
              <mat-select matNativeControl style="font-size: 0.875rem;" placeholder="Select Designation"
                [(ngModel)]="designationId" (ngModelChange)="onDesignationChange()">
                <mat-option class="text-muted" [value]="">Select Designation</mat-option>
                <mat-option class="text-muted" *ngFor="let designation of Designation" [value]="designation.id">
                  {{ designation.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl mb-3">
          <div class="year_select_box">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Employee</mat-label>
              <mat-select matNativeControl style="font-size: 0.875rem;" [(ngModel)]="PersonID">
                <mat-option class="text-muted" [value]="">Select Employee </mat-option>
                <mat-option class="text-muted" *ngFor="let name of PersonName" [value]="name.id">{{ name?.firstName + '
                  '
                  + name?.lastName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl mb-3 h-54">
          <div class="d-flex justify-lg-content-end  align-items-baseline">
            <div class="btn btn-primary  rounded-pill me-3" (click)="onLeaveFilter()">Apply</div>
            <div class="btn btn-secondary  rounded-pill " (click)="onReset()">Reset</div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-end mb-3">

        <div class="leave_status  bg-white pointer">
          <div class="d-flex align-items-center status flex-wrap">
            <div class="d-flex align-items-center  pe-3 ps-3 p-2 comon_bottom" (click)="AllLeave()">
              <mat-label class="label_name fw-bold ">All</mat-label>
            </div>
            <div class="d-flex align-items-center  pe-3 ps-3 p-2 pointer comon_bottom" (click)="pendingLeave()">
              <mat-label class="label_name fw-bold ">Pending:</mat-label>
              <h6 class="rounded-circle bg-warning border text-white ms-2 text-center ">{{totalPending}}</h6>
            </div>


            <div class="d-flex align-items-center  pe-3 ps-3 p-2 pointer comon_bottom" (click)="RejectLeave()">
              <mat-label class="label_name  fw-bold">Rejected:</mat-label>
              <h6 class="rounded-circle bg-danger border text-white ms-2 text-center ">{{totalRejected}}</h6>
            </div>

            <div class="d-flex align-items-center  ps-3 pe-3 p-2 comon_bottom" (click)="ApproveLeave()">
              <mat-label class="label_name fw-bold">Approved:</mat-label>
              <h6 class="rounded-circle bg-success border text-white ms-2 text-center ">{{totalApprove}}</h6>
            </div>
            <div class="d-flex align-items-center  ps-3 pe-3 p-2 comon_bottom" (click)="WorkFromHome()">
              <mat-label class="label_name fw-bold">WFH:</mat-label>
              <h6 class="rounded-circle bg-primary border text-white ms-2 text-center ">{{totalwfh}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollbox scrollbox_delayed mt-3" tabindex="0">
        <div class="fixTableHead  scrollbox-content leave_table ">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 apply_leave  ">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{ element.serialNumber }} </td>
            </ng-container>
            <ng-container matColumnDef="Ename">
              <th mat-header-cell *matHeaderCellDef> Employee Name</th>
              <td mat-cell *matCellDef="let element">
                {{element?.person?.firstName + ' ' + element?.person?.lastName}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Leave" class="leave_date">
              <th mat-header-cell *matHeaderCellDef> Leave Date </th>
              <td mat-cell *matCellDef="let element "> {{ element.startDate | date: dateFormat }}--{{ element.endDate |
                date: dateFormat }} </td>
            </ng-container>

            <ng-container matColumnDef="RequestDate">
              <th mat-header-cell *matHeaderCellDef>Request Date</th>
              <td mat-cell *matCellDef="let element" class="">{{ element.leaveRequestDate ? (element.leaveRequestDate |
                date: dateFormat):"-" }} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"
                [ngClass]="{'text-success': getStatusLabel(element.approval) === 'Approved','text-warning': getStatusLabel(element.approval) === 'Pending','text-danger': getStatusLabel(element.approval) === 'Rejected'}">
                {{ getStatusLabel(element.approval) }} </td>
            </ng-container>
            <ng-container matColumnDef="LeaveType">
              <th mat-header-cell *matHeaderCellDef> Leave Type </th>
              <td mat-cell *matCellDef="let element"> {{ element?.leaveTypes?.name ? element?.leaveTypes?.name :
                element?.name }} </td>
            </ng-container>
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef> Duration </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element?.duration === 0.5; else fullDay">
                  0.5 Day ({{ getHalfLabel(element?.startHalf) }})
                </ng-container>
                <ng-template #fullDay>
                  {{ element?.duration }} {{ element?.duration > 1 ? 'Days' : 'Day' }}
                </ng-template>
              </td>
            </ng-container> 

            <!-- Symbol Column -->
            <ng-container matColumnDef="Reason">
              <th mat-header-cell *matHeaderCellDef> Reason </th>
              <td mat-cell *matCellDef="let element" class="reason bg-transparent">
                <span mat-raised-button class="d-inline-block reason" [matTooltip]="element.reason"
                  aria-label="Button that displays a tooltip when focused or hovered over">
                  {{ element.reason }}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="WFH">
              <th mat-header-cell *matHeaderCellDef> WFH </th>

              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.leaveType===1 && element?.leaveFile">
                  <a [href]="attachmentURL + element.leaveFile.replace('wwwroot\\', '')" target="_blank">
                    <div style="height:100%;width:100%">
                      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    </div>
                  </a>
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="Remark">
              <th mat-header-cell *matHeaderCellDef> Remark </th>
              <td mat-cell *matCellDef="let element" class="reason bg-transparent">
                <span mat-raised-button class="d-inline-block reason" [matTooltip]="element.rejectionReason"
                  aria-label="Button that displays a tooltip when focused or hovered over">
                  {{ element.rejectionReason }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class=""> Action </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <div class="d-flex align-items-center " style="gap: 20px;">
                  <div class="icon_width " [class.disabled]="element.approval === LeaveStatus.cancelled">
                    <svg viewBox="64 64 896 896" focusable="false" stroke="#1890ff" [attr.fill]="'#1890ff'"
                      (click)="element.approval !== LeaveStatus.cancelled && edituser(element.id)" width="16"
                      height="16" aria-hidden="true">
                      <path
                        d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                      </path>
                    </svg>
                  </div>
                  <div class="disable_icon ">
                    <svg xmlns="http://www.w3.org/2000/svg" matTooltip="Approv" width="16" height="16"
                      viewBox="0 0 24 24" fill="none" stroke="#52c41a"
                      [attr.stroke]="element.approval === 1 || element.approval === 3  ? '#adb5bd' : '#52c41a'"
                      stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                      [attr.disabled]="element.approval === 1 || element.approval === 3 ? true : null"
                      (click)="element.approval === 1 || element.approval === 3  ? null : Approve(element)">
                      <polyline points="20 6 9 17 4 12" />
                    </svg>
                  </div>
                  <div class="" [ngClass]="element.approval === 2 || element.approval === 3?'btn-disabled':'btn_hover'">
                    <svg height="16" matTooltip="Reject" viewBox="0 0 16 16" width="16" fill="none"
                      (click)="element.approval === 2  || element.approval === 3? null : Reject(element)"
                      [attr.stroke]="element.approval === 2 || element.approval === 3? '##adb5bd':'#52c41a'"
                      [attr.disabled]=" element.approval === 2 || element.approval === 3 ? true : null"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="m9.65685425 8.28427125 2.34314575 2.34285265 2.3431458-2.34285265c.3790283-.37902833.9935546-.37902833 1.372583 0 .3790283.37902833.3790283.99355467 0 1.372583l-2.3431458 2.34285265 2.3431458 2.3434389c.3790283.3790283.3790283.9935546 0 1.372583-.3790284.3790283-.9935547.3790283-1.372583 0l-2.3431458-2.3434389-2.34314575 2.3434389c-.37902833.3790283-.99355467.3790283-1.372583 0-.37902833-.3790284-.37902833-.9935547 0-1.372583l2.34314575-2.3434389-2.34314575-2.34285265c-.37902833-.37902833-.37902833-.99355467 0-1.372583s.99355467-.37902833 1.372583 0zm1.34314575-8.28427125c1.6568542 0 3 1.34314575 3 3v3h-2v-3c0-.55228475-.4477153-1-1-1h-8c-.55228475 0-1 .44771525-1 1v8c0 .5522847.44771525 1 1 1h2v2h-2c-1.65685425 0-3-1.3431458-3-3v-8c0-1.65685425 1.34314575-3 3-3zm-4 8v2h-3v-2zm3-4v2h-6v-2z" />
                    </svg>
                  </div>

                  <img class="" matTooltip="Unpaid"
                    [ngClass]="element.approval === 4 || element.approval === 3 ? 'unpaid-btn-disabled':'cursor-pointer'"
                    width="22px" src="assets/images/icon-denied.png"
                    (click)="element.approval===4 || element.approval === 3?null: UnPaid(element)"
                    [ariaDisabled]="element.approval===4 || element.approval === 3" alt="logo">

                  <div [ngClass]="element.approval === 3?'unpaid-btn-disabled':null">
                    <svg xmlns="http://www.w3.org/2000/svg" matTooltip="Cancel" width="24" height="24"
                      viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" class="feather feather-x"
                      [attr.disabled]="element?.approval === 3 ? true : null"
                      (click)="element?.approval !== 3 ? cancel(element.id) : null">
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                  </div> 

                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center py-4" [attr.colspan]="displayedColumns.length">
                No Data Available
              </td>
            </tr>
          </table>

        </div>
      </div>
      <div class="text-end d-block mt-3">
        <div class="pagination-format d-inline-block">
          <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>