<div class="auth-main login-page">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="card my-5 py-4 d-flex align-items-center">
                <div class="card-body">
                    <div class="d-flex align-items-end mb-3 justify-content-center">
                        <img style="width: 28px;" [src]="favIcon" alt="">
                        <h4 class="mb-0 fw-bold ms-3 mt-0" style="font-size: 36px;">{{orgTitle}}</h4>
                    </div>
                    <span class="w-100 text-center d-block">Enter a password</span>
                    <form class="universal-form overflow-hidden" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
                        <div class="mt-3 position-relative">
                            <input [type]="newPassword" class="form-control w-100" id="newPassword"
                                placeholder=" Enter Password" formControlName="newPassword">
                            <span class="fas toggle-password" (click)="onNewClick()"
                                [ngClass]="newPassword == 'text'?'ri-eye-line' : 'ri-eye-off-line'"></span>
                            <span class="text-danger"
                                *ngIf="resetPasswordForm.get('newPassword').hasError('required') && resetPasswordForm.get('newPassword').touched">
                                Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="resetPasswordForm.get('newPassword').hasError('pattern') && resetPasswordForm.get('newPassword').touched">
                                Password length between 8 to 15 characters in length combination of upper case, lower
                                case , numbers and special character (hyphen(-),underscore( _ ) and dot (.))
                            </span>
                        </div>
                        <div class="mt-3 position-relative">
                            <input [type]="confirmPassword" class="form-control w-100" id="confirmPassword"
                                placeholder=" Enter Password" formControlName="confirmPassword">
                            <span class="fas toggle-password" (click)="onConfirmClick()"
                                [ngClass]="confirmPassword == 'text'?'ri-eye-line' : 'ri-eye-off-line'"></span>
                            <span class="text-danger"
                                *ngIf="resetPasswordForm.get('confirmPassword').hasError('required') && resetPasswordForm.get('confirmPassword').touched">
                                Confirm password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.hasError('notSame')">
                                Password and confirm password does not match
                            </span>
                        </div>
                        <button class="btn btn-primary w-100 mt-3" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>