<!-- old loader -->
<!-- <div class="loader" >
    <div class="spinner"></div>
  </div> -->
<!-- skyhr loader  -->
<!-- <div class="loader-container"> -->
<!-- <div class="loader">
    <div class="load-inner load-one"></div>
    <div class="load-inner load-two"></div>
    <div class="load-inner load-three"></div>
    <span class="text">Sk<span class="subtext">y</span>hr</span> -->
<!--  <span class="text">Loa<span class="subtext">d</span>ing......</span> -->
<!-- <span class="text">Sky<span class="subtext">T</span>us</span> -->
<!-- </div> -->

 
<div class="loader-container">   
  <div class="loader">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
  </div>
</div>