<div class="row px-3">
  <div class="col-sm-12 border rounded bg-white px-0 custom-remove">

    <div class="page-top-header mb-0">
      <h5 class="card-subtitle mt-0">Organization Setting</h5>
    </div>
    <div class="content-box p-3">
      <div class="card-body">
        <div class="table-top">
          <div class="back_btn cursor-pointer pb-2"> 
            <span (click)="onOrganizationList()"><svg viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
              <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM13.92 16.13H9C8.59 16.13 8.25 15.79 8.25 15.38C8.25 14.97 8.59 14.63 9 14.63H13.92C15.2 14.63 16.25 13.59 16.25 12.3C16.25 11.01 15.21 9.97 13.92 9.97H8.85L9.11 10.23C9.4 10.53 9.4 11 9.1 11.3C8.95 11.45 8.76 11.52 8.57 11.52C8.38 11.52 8.19 11.45 8.04 11.3L6.47 9.72C6.18 9.43 6.18 8.95 6.47 8.66L8.04 7.09C8.33 6.8 8.81 6.8 9.1 7.09C9.39 7.38 9.39 7.86 9.1 8.15L8.77 8.48H13.92C16.03 8.48 17.75 10.2 17.75 12.31C17.75 14.42 16.03 16.13 13.92 16.13Z"/>
              </svg></span>
          </div>
          <div class="pc-h-item  pc-header bg-transparent position-static w-25">
            <form class="header-search d-block w-100">
              <div class="search-btn">
                <i class="ti ti-search"></i>
              </div>
              <input [(ngModel)]="searchDataValue" (input)="searchData(searchDataValue)" type="search"
                class="form-control w-100" placeholder="Search..." />

            </form>
          </div>
        </div>
        <div class="table-responsive mt-3 rounded">
          <table mat-table class="mat-elevation-z8 table-responsive border rounded shadow-none"
            [dataSource]="dataSource" matSort>
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let row">
                {{ row?.title }}
              </td>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="personCode"> Value </th>
              <td mat-cell *matCellDef="let row">
                {{ row?.value }}
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
              <td mat-cell *matCellDef="let row" >
                <div class="d-flex align-items-center justify-content-center">
                  <div class="icon_width btn_hover pe-3">
                    <svg viewBox="64 64 896 896" focusable="false" (click)="editOrganization(row?.id)" data-icon="edit"
                      width="1em" height="1em" aria-hidden="true">
                      <path
                        d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                      </path>
                    </svg>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                <div class="text-center d-block border-bottom-0">
                  <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
                  <h6 class="no-record mt-3">No Data Available</h6>
                </div>
              </td>
            </tr>

          </table>
          <div class="text-end d-block mt-3">
            <div class="pagination-format d-inline-block">
              <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>