<section class="ticket-dash-page">
  <div class="row">
    <div class="col-sm-12 border rounded bg-white p-0">

      <div class="page-top-header mb-0">
        <h5 class="card-subtitle mt-0">Ticket</h5> 
      </div>

      <div class="content-box p-3">
        <div class="card-body d-flex bd-highlight justify-content-end">
          <button type="button" class="btn btn-primary rounded-pill px-4 py-2" (click)="addTicket()">Add Ticket</button>
        </div>

        <div class="color-cards">
          <ul class="row m-0 p-0" *ngIf="widgetList?.length">
            <li class="col-xxl-3 col-xl-3 col-lg-6 col-md-6" *ngFor="let card of widgetList">
              <div class="card-box">
                <div class="d-flex justify-content-between ">
                  <div class="card-titme w-100">
                    <div class="card_inner_block">
                      <div class="name_count">
                        <h6 class="m-0" >{{card?.name}}</h6>
                      </div>
                      <div class="count_block">
                        <h5>{{card?.count}}</h5>
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>
            </li>
          </ul>
        </div>

        <div class="card-body ticketlist_tableview">
          <div class="table-top">
            <form [formGroup]="filterTicketForm">
              <div class="row custom-remove">
                <div class="col-xl-3 col-lg-6 col-sm-6 col-sm-12 mt-3">
                  <div class="month_year">
                    <div class="year_select_box">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start Date" formControlName="StartDate" name="StartDate"
                            (dateChange)="updateStartDate($event.value)" [value]="StartDate ">
                          <input matEndDate placeholder="End Date" formControlName="EndDate" name="EndDate"
                            (dateChange)="updateEndDate($event.value)" [value]="EndDate">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6 col-sm-12 mt-3">
                  <div class="month_year">
                    <div class="year_select_box">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-select formControlName="Status" matNativeControl style="font-size: 0.875rem;" id="month"
                          placeholder="Select Status">
                          <mat-option [value]="">Select Status</mat-option>
                          <mat-option class="text-muted" *ngFor="let status of statusList"
                            [value]="status.value">{{status?.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6 col-sm-12 mt-3">
                  <div class="month_year">
                    <div class="year_select_box">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-select formControlName="Priority" matNativeControl style="font-size: 0.875rem;" id="month"
                          placeholder="Select Priority">
                          <mat-option [value]="">Select Priority</mat-option>
                          <mat-option class="text-muted" *ngFor="let priority of priorityList"
                            [value]="priority.value">{{priority?.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6 col-sm-12 mt-3">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-primary rounded-pill px-4 py-2 me-3" (click)="onApply()">Apply</button>
                    <button class="btn btn-primary rounded-pill px-4 py-2" (click)="onReset()">Reset</button>
                  </div>
                </div>
              </div>
            </form>

            <div class="row mt-3">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pc-h-item  pc-header bg-transparent position-static">
                  <div class="header-search d-block w-100">
                    <div class="search-btn">
                      <i class="ti ti-search"></i>
                    </div>
                    <input [(ngModel)]="searchDataValue" (input)="searchData(searchDataValue)" type="search"
                      class="form-control w-100" placeholder="Search..." />
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-6 col-sm-12"></div>
            </div>
          </div>
          <div class="scrollbox scrollbox_delayed mt-3" tabindex="0">
            <div class="fixTableHead border rounded scrollbox-content mt-3 rounded">
              <table mat-table class="mat-elevation-z8 table-responsive border rounded shadow-none"
                [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort> 
                <!-- Ticket Id Column -->
                <ng-container matColumnDef="ticketId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="ticketId"> Ticket Id </th>
                  <td mat-cell *matCellDef="let row">
                    <span (click)="onTicketDetail(row?.id)" class="pointer text-primary">{{ row?.ticketCode }}</span>
                  </td>
                </ng-container>

                <!-- Subject Column -->
                <ng-container matColumnDef="subject">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="subject"> Subject </th>
                  <td mat-cell *matCellDef="let row" [matTooltip]="row?.subject" class="text-truncate">
                    {{ row?.subject }}
                  </td>
                </ng-container>

                <!-- Assigned Name Column -->
                <ng-container matColumnDef="assignedName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Name </th>
                  <td mat-cell *matCellDef="let row" class="overflow-visible">

                    <span *ngIf="row?.status === StatusEnum.Completed">
                      {{ row?.assignedName || 'Not Assigned' }}
                    </span>
                    <div class="dropdown"  *ngIf="row?.status !== StatusEnum.Completed">
                      <span class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false"
                       >
                        {{row?.assignedName?.length ? row?.assignedName : 'Select Assign' }}
                      </span>
                      <ul class="dropdown-menu ticket_list_drop" aria-labelledby="dropdownMenuButton">
                        <li>
                          <a class="dropdown-item" 
                            (click)="updateAssign(row.id, '')"  >Select Employee</a>
                        </li>
                        <li *ngFor="let assign of employeeRecords">
                          <a class="dropdown-item" 
                          (click)="updateAssign(row.id, assign?.id)">{{ assign?.firstName + ' '
                            + assign?.lastName }}</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </ng-container>

                <!-- Created Date Column -->
                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Created Date </th>
                  <td mat-cell *matCellDef="let row"> {{row?.createdDate | date: dateFormat}} </td>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="dueDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap ps-4"> Due Date </th>
                  <td mat-cell *matCellDef="let row">
                    <div class=" d-flex align-items-center text-nowrap">
                      <mat-datepicker-toggle matSuffix [for]="dPicker" (click)="dPicker.open()"></mat-datepicker-toggle>
                      <mat-datepicker #dPicker (dateChange)="updateDueDate(row.id,$event)"></mat-datepicker>
                      <span> {{row?.dueDate?.length ? (row?.dueDate | date: dateFormat) : 'Select Due Date'}}</span>
                      <input class="hidden-input" matInput [matDatepicker]="dPicker" required
                        placeholder="Enter Due Date" (dateChange)="updateDueDate(row.id, $event)" />


                    </div>
                  </td>
                </ng-container>

                <!-- priority Column -->
                <ng-container matColumnDef="priority">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
                  <td mat-cell *matCellDef="let row" class="overflow-visible">
                    <div class="dropdown">
                      <span class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{getPriority(row?.priority)}}
                      </span>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li *ngFor="let priority of priorityList">
                          <a class="dropdown-item" (click)="updatePriority(row.id, priority?.value)">{{ priority?.name
                            }}</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let row" class=" text-truncate overflow-visible"
                    [ngClass]="{'s-complete': (row.status) === 5,'s-inprogress': (row.status) === 2,'s-available':(row.status) === 0,'s-assigned':(row.status) === 1,'s-reopen':(row.status) ===  4,'s-inreview':(row.status) ===  3}">
                    <i _ngcontent-ng-c1943236421="" class="ri-focus-2-line"></i> {{getStatus(row?.status)}} 
                  </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef >
                    Action </th>
                  <td mat-cell *matCellDef="let row">
                    <div class="d-flex align-items-center "> 
                      <div class="icon_width btn_hover">
                        <svg viewBox="64 64 896 896" focusable="false" matTooltip="Edit"
                          [attr.disabled]="row?.status === StatusEnum.Completed ? true : null"
                          [ngClass]="{'disabled-svg': row?.status === StatusEnum.Completed }"
                          (click)="row?.status !== StatusEnum.Completed ? editTicket(row?.id) : null"
                          [attr.stroke]="row?.status === StatusEnum.Completed ? '#adb5bd' : '#ff4d4f'"
                          data-icon="edit" width="1em" height="1em" aria-hidden="true">
                          <path
                            d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                          </path>
                        </svg>
                      </div>
                      
                      <div class="icon_width ps-3" *ngIf="personId === row?.createdBy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" matTooltip="Delete" (click)="deleteBtn(row?.id)" height="24"
                          [attr.disabled]="row?.loanStatus === 1 || row?.loanStatus === 2  ? true : true"
                          [ngClass]="{'disabled-svg': row?.loanStatus === 1 || row?.loanStatus === 2 }"
                          viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-x">
                          <line x1="18" y1="6" x2="6" y2="18"></line>
                          <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="8">
                    <div class="text-center d-block border-bottom-0">
                      <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
                      <h6 class="no-record mt-3">No Data Available</h6>
                    </div>
                  </td>
                </tr>

              </table>
              <div class="text-end d-block mt-3">
                <div class="pagination-format d-inline-block">
                  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>