.mat-mdc-tab-body-wrapper {
    margin-top: 25px;
}

.mdc-tab--active {
    border-bottom: 2px solid #3e4095 !important;
}

.mat-mdc-tab-body-content {
    overflow: hidden !important;
}

.mat-mdc-tab-header {
    border-bottom: none !important;
}