.overtime {
    .header {
        background-color: #3e4095;
    }
}

.full-width {
    width: 100%;
}

.preview img {
    height: 110px;
    width: 200px;
    object-fit: scale-down; 
}

.org-img { 
    border-radius: 5px; 

    img {
        height: 135px;
        width: 240px;
    }

    i {
        position: absolute;
        right: -10px;
        top: -8px;
        font-size: 16px;
        background: #ff4e4e;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 100%;
        color: #fff;
        /* border: 1px solid rgba(145, 158, 171, 0.32); */
    }
}
