<div class="inside-page">
    <div class="back_btn cursor-pointer "> 
        <span (click)="onTicketList()"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM13.92 16.13H9C8.59 16.13 8.25 15.79 8.25 15.38C8.25 14.97 8.59 14.63 9 14.63H13.92C15.2 14.63 16.25 13.59 16.25 12.3C16.25 11.01 15.21 9.97 13.92 9.97H8.85L9.11 10.23C9.4 10.53 9.4 11 9.1 11.3C8.95 11.45 8.76 11.52 8.57 11.52C8.38 11.52 8.19 11.45 8.04 11.3L6.47 9.72C6.18 9.43 6.18 8.95 6.47 8.66L8.04 7.09C8.33 6.8 8.81 6.8 9.1 7.09C9.39 7.38 9.39 7.86 9.1 8.15L8.77 8.48H13.92C16.03 8.48 17.75 10.2 17.75 12.31C17.75 14.42 16.03 16.13 13.92 16.13Z" />
            </svg></span>
    </div>
</div>
<div class="page-top-header mb-0 mt-3">
    <h5 class="card-subtitle mt-0">Ticket Detail</h5>
</div>

<div class="row mt-3 ticket_details">
    <div class="col-xl-8 col-lg-7 ">
        <ng-container>
            <div class="row ">
                <div class="col-xxl-3 col-md-6">
                    <div class=" ticket-head-card"> 
                        <div class="bg-info text-white rounded ticket-detail-icon">
                            <i class="ri-stop-circle-line"></i>
                        </div>
                        <div class="detail-info">
                            <h6 class="d-block">Status</h6>
                            <span class="ticket_details_status px-1 fw-bold rounded-3">{{status[ticketDetails?.status] ?
                                status[ticketDetails?.status] : '-'}}</span>
                        </div> 
                    </div>
                </div>

                <div class="col-xxl-3 col-md-6">
                    <div class="ticket-head-card"> 
                        <div class="created_by  text-white rounded ticket-detail-icon">
                            <i class="ri-user-line "></i>
                        </div>
                        <div class="detail-info">
                            <h6 class="d-block">Created By</h6>
                            <span class="">{{ticketDetails?.createdName ? ticketDetails?.createdName : '-'}}</span>
                        </div> 
                    </div>
                </div>

                <div class="col-xxl-3 col-md-6">
                    <div class="ticket-head-card"> 
                        <div class="bg-warning  text-white rounded ticket-detail-icon">
                            <i class="ri-calendar-line"></i>
                        </div>
                        <div class="detail-info">
                            <h6 class="d-block">Created Date</h6>
                            <span class="">{{ticketDetails?.createdDate | date}}</span>
                        </div> 
                    </div>
                </div>

                <div class="col-xxl-3 col-md-6">
                    <div class="ticket-head-card"> 
                        <div class="ticket_priority text-white rounded ticket-detail-icon">
                            <i class="ri-information-line"></i>
                        </div>
                        <div class="detail-info">
                            <h6 class="d-block">Priority</h6> 
                            <span
                                class="ticket_priority_status px-1 fw-bold rounded-3">{{priority[ticketDetails?.priority]
                                ? priority[ticketDetails?.priority] : '-'}}</span> 

                        </div> 
                    </div>
                </div>
            </div>
            <div class="bg-white  ticket_issue_box my-3 p-3">
                <h6 class="fw-bold m-0">{{ticketDetails?.subject}}</h6>
                <p>{{ticketDetails?.description}}</p>
            </div>
        </ng-container> 
        <div class="bg-white p-3" *ngFor="let allAttachment of getAttachment">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <i class="ri-file-image-line me-3 img_icon text-danger p-2 rounded"></i>
                    <span>{{allAttachment?.fileName}}</span>
                </div>
                <div style="cursor: pointer;" (click)="downloadFile(allAttachment)">
                    <i class="ri-arrow-down-line me-3"></i>
                    <span>Download</span>
                </div>
            </div>
        </div> 
    </div>
    <div class="col-xl-4 col-lg-5 bg-white p-3">
        <div>
            <div class="d-flex align-items-center w-100 justify-content-between mb-3 project-task-page">
                <div class="btn border d-flex align-items-center" *ngIf="ticketDetails?.status!=5"
                    [ngClass]="ticketDetails?.status===5 ?'btn-complete ':'btn-pending'"
                    (click)="updateStatus(ticketDetails)"><i class="ri-check-line me-2"></i>
                    {{getStatus(ticketDetails)}}

                </div>
                <div class="overflow-visible btn border d-flex align-items-center" *ngIf="ticketDetails?.status==5"
                    [ngClass]="ticketDetails?.status===5 ?'btn-complete ':'btn-pending'">
                    <div class="dropdown">
                        <span class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Completed
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li *ngFor="let assign of completedStatus">
                                <a class="dropdown-item" (click)="updateStatus(ticketDetails)">{{ assign?.value }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn border" *ngIf="ticketDetails?.status==3 && ticketDetails.createdBy===personId"
                    [ngClass]="ticketDetails?.status===5?'btn-complete ':'btn-pending'"
                    (click)="changeRejectedStatus(ticketDetails)"><i
                        class="ri-check-line me-2"></i>{{ticketDetails?.status==3?'Reject' :''}}</div>
            </div>
            <div class="d-flex justify-content-between">
                <h6 class="">Ticket Chat</h6>
                <i class="ri-timeline-view cursor-pointer" (click)="onTimeLineChange()"></i>
            </div>
            <div class="timeline border time_list_detail rounded p-3 my-3" *ngIf="isTimeLine">
                <ul>
                    <li *ngFor="let time of timeLineData">
                        <div class="date_time">
                            <p>{{time?.createdDate | date: dateFormat}}</p>
                            <p>{{time?.createdDate | date: timeFormat }}</p>
                        </div>
                        <p class="">{{time?.comment}} </p> 
                </ul>
            </div>
            <div *ngIf="!isTimeLine">
                <!-- Start : Chat form -->
                <div class="my-3 border p-3">
                    <form [formGroup]="commentForm">
                        <textarea class="form-control" formControlName="comment" placeholder="Type message..."
                            style="height: 100px"></textarea>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="icon icon_list">
                                <i class="ri-attachment-2 text-primary cursor-pointer" (click)="openImageInput.click()"
                                    matTooltip="Attach File">
                                    <input type="file" name="file" id="fileInput" class="d-none"
                                        (change)="onFileSelected($event)" #openImageInput>
                                </i>
                                <div class="uploaded-files m-0 w-100" *ngIf="selectedFiles.length > 0">
                                    <ul class="border-0">
                                        <li *ngFor="let file of selectedFiles; let i = index">
                                            <div class="d-flex"> {{ file.name }}
                                            </div>
                                            <i class="ri-close-circle-fill text-danger" (click)="deleteFile(i)"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" (click)="sentChat()" [disabled]="isSending">
                                  {{ isSending ? 'Sending...' : 'Send' }}
                                </button>
                              </div>
                              
                        </div>
                    </form>
                </div>
                <!-- End : Chat form -->
                <div class="chat_oter_block table_scroll_block">
                    <div class="my-3 py-2" *ngFor="let employeeComment of getComment"
                        [ngClass]="personId==employeeComment?.createdBy ? 'chat-right' : 'chat-left'">
                        <div style="width: 190px;">
                            <div class="d-flex align-items-center"> 
                                <div class="chat-body">
                                    <ng-container *ngIf="employeeComment">
                                        <div *ngIf="employeeComment?.profilePicture" class=" me-2" >
                                            <img [src]="transformImagePath(employeeComment?.profilePicture)" alt="Profile Picture" class="avatar-img">
                                        </div>
                                        <div *ngIf="!employeeComment?.profilePicture" class=" me-2"
                                            [ngStyle]="{'background': stringToColor(employeeComment?.personName)}" style="border-radius: 20px; padding: 6px;">
                                            <b class="f-16">{{generateInitials(employeeComment?.personName)}}</b>
                                        </div>
                                    </ng-container>
                                    <div class="chat-bubble mb-0">
                                        <div class="chat-content">
                                            <span class="task-chat-user fw-bold">{{employeeComment?.personName}}</span>
                                            <span class="chat-time fw-bold">{{employeeComment?.createdDate |
                                                timeAgo}}</span>
                                            <div class="comment_block">
                                                <span>{{employeeComment?.comment}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div *ngFor="let file of employeeComment?.attachments" style="margin-left: 50px;">
                                <ng-container *ngIf="isImage(file?.filePath); else otherFiles">
                                    <img [src]="transformImagePath(file?.filePath)" width="400" height="250"
                                        alt="Image">
                                </ng-container>
                                <ng-template #otherFiles>
                                    <a [href]="transformImagePath(file?.filePath)" target="_blank"> {{
                                        file?.filePath.split('\\').pop()}}</a>
                                </ng-template>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex align-items-center comments">
                <i class="ri-question-answer-line text-danger"></i>
                <p class="text-danger fw-bold ms-3 mt-0 mb-0">Comments ({{ commentCount }})</p>
            </div>
        </div>
    </div>