.new-leave-balance {

    .icon_leave img {
        max-width: 45px;
    }

    p,    
    .leave-days {
        font-weight: 500;
    }

    .text-secondary{
        color: #666666 !important;
    }

}