<div class="inside-page org-presentation-page ">
    <div class="page-top-header mb-0">
        <h5 class="card-subtitle m-0 text-muted ">{{id ? 'Update' : 'Add'}} Employee Insurance</h5>
    </div>
    <div class="row px-3">
        <div class="col-md-12 p-3 bg-white border rounded bg-white p-3">
            <div class="back_btn cursor-pointer"> 
                <span (click)="onList()"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM13.92 16.13H9C8.59 16.13 8.25 15.79 8.25 15.38C8.25 14.97 8.59 14.63 9 14.63H13.92C15.2 14.63 16.25 13.59 16.25 12.3C16.25 11.01 15.21 9.97 13.92 9.97H8.85L9.11 10.23C9.4 10.53 9.4 11 9.1 11.3C8.95 11.45 8.76 11.52 8.57 11.52C8.38 11.52 8.19 11.45 8.04 11.3L6.47 9.72C6.18 9.43 6.18 8.95 6.47 8.66L8.04 7.09C8.33 6.8 8.81 6.8 9.1 7.09C9.39 7.38 9.39 7.86 9.1 8.15L8.77 8.48H13.92C16.03 8.48 17.75 10.2 17.75 12.31C17.75 14.42 16.03 16.13 13.92 16.13Z" />
                    </svg></span>
            </div>

            <form [formGroup]="employeeInsuranceForm" class="pt-3 border-light-blue border-top-0 universal-form">
                <div class="card full-size-card border-0 mb-0">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 mt-0">
                                <div class="form-group">
                                    <label style="font-weight: 600;" class="required mb-2">Employee Name<span
                                            class="text-danger">*</span></label>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-select formControlName="personsId" required
                                            placeholder="Select Employee Name">
                                            <mat-option *ngFor="let employeeName of getAllEmplyeeList"
                                                [value]="employeeName.id">
                                                {{employeeName?.firstName}} {{employeeName?.lastName}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                    <span class="text-danger mt-2 d-block"
                                        *ngIf="(empInsuranceFormControl['personsId'].touched) && empInsuranceFormControl['personsId'].errors?.['required']">Employee
                                        Name is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mt-0">
                                <div class="form-group">
                                    <label style="font-weight: 600;" class="required mb-2">Company Name<span
                                            class="text-danger">*</span></label>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-select formControlName="insuranceId" required
                                            placeholder="Select Company Name">
                                            <mat-option *ngFor="let insurance of insuranceCompany"
                                                [value]="insurance.id">
                                                {{insurance?.companyName}} ({{insurance?.planType}})
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                    <span class="text-danger mt-2 d-block"
                                        *ngIf="(empInsuranceFormControl['insuranceId'].touched) && empInsuranceFormControl['insuranceId'].errors?.['required']">Company
                                        Name is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mt-0">
                                <div class="form-group">
                                    <mat-label class="label_name">Amount<span class="text-danger">*</span></mat-label>
                                    <input type="text" style="height: 52px;" matInput formControlName="amount"
                                        placeholder="Enter Amount" class="form-control" appTrimOnBlur>
                                    <span class="text-danger mt-2 d-block"
                                        *ngIf="(empInsuranceFormControl['amount'].touched) && empInsuranceFormControl['amount'].errors?.['required']">Amount
                                        is required
                                    </span>
                                    <span class="text-danger mt-2 d-block"
                                        *ngIf="(empInsuranceFormControl['amount'].touched) && empInsuranceFormControl['amount'].errors?.['pattern']">Only
                                        number are allow
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mt-0">
                                <div class="form-group mb-0">
                                    <mat-label class="label_name">Start Date<span class="text-danger">*</span>
                                    </mat-label>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <input matInput [matDatepicker]="sdpicker" formControlName="startDate"
                                            [max]="maxDate" required placeholder="Enter Start Date" />
                                        <mat-datepicker-toggle matSuffix [for]="sdpicker"></mat-datepicker-toggle>
                                        <mat-datepicker #sdpicker></mat-datepicker>
                                    </mat-form-field>
                                    <span class="text-danger d-block"
                                        *ngIf="(empInsuranceFormControl['startDate'].touched) && empInsuranceFormControl['startDate'].errors?.['required']">Start
                                        date is required
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end py-3">
                        <button type="submit" (click)="addEmployeeinsurance()"
                            class="btn btn-primary rounded-pill px-4 py-2 me-3"
                            [ngClass]="userRole[0]?.canView ? 'd-block' : 'd-none' ">save</button>
                        <button type="button" class="btn btn-secondary me-3 rounded-pill px-4 py-2" (click)="onList()">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>