.edit_block {
    display: flex;
    align-items: center;
    justify-content: end;

    .image_section svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
        fill: #3e4095 !important;
        margin-right: 5px;
    }
}

.outer_iamge_pro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.mdc-tab__text-label {
    transition: none !important;
}