<div class="regularization">
  <div class="back_btn cursor-pointer" >
   
  </div>
    <div class="d-flex align-items-center justify-content-between bg-primary  p-3 px-4 ">
      <h6 class=" fw-bold text-white ">Add Task</h6>
    </div>
    <div class="card border-0 mb-0">
      <div class="card-body ">
        <div class="form-group">
          <mat-label class="label_name">Task Name<span class="text-danger">*</span></mat-label>
          <input type="text" class="form-control" appTrimOnBlur>
          </div>
  
          <div class="d-flex border-top justify-content-center py-3">
            <button type="submit" class="btn btn-primary rounded-pill px-4 py-2 me-3">
              Save</button>
          </div>
            <ng-template #noData></ng-template>