<div class="page-top-header mb-0">
  <h5 class="card-subtitle mt-0">Question</h5>
</div>
<div class="row px-3">
  <div class="col-sm-12 border rounded bg-white px-0 custom-remove">


    <div class="content-box p-3">
      <div class="card-body d-flex bd-highlight justify-content-end" (click)="addquetion()">
        <button type="button" class="btn btn-primary rounded-pill px-4 py-2">Add
          Question</button>
      </div> 
      <div class="card-body questiontype_tableview">
        <div class="table-top">
          <div class="pc-h-item  pc-header bg-transparent position-static w-25">
            <form class="header-search d-block w-100 d-flex align-items-center">
                </form>
          </div>
        </div>
        <div class="scrollbox scrollbox_delayed mt-3" tabindex="0">
          <div class="fixTableHead  scrollbox-content "> 
            <table mat-table class="mat-elevation-z8  shadow-none mb-0" [dataSource]="dataSource" matSort>
              <!-- Position Column -->
              <ng-container matColumnDef="question">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Question</th>
                <td mat-cell *matCellDef="let element">{{element.questions}}</td>
              </ng-container>
              <ng-container matColumnDef="questionType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Question Type</th>
                <td mat-cell *matCellDef="let element">{{element.questionType ?'Multichoice' : 'Text'}}</td>
              </ng-container>
              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                <td mat-cell *matCellDef="let element">{{element.department?.departmentName}}</td>
              </ng-container>
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  <div class="form-check form-switch ps-0">
                    <mat-slide-toggle [checked]="element?.isActive"></mat-slide-toggle>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                  <div class="d-flex align-items-center gap-4">
                    <div class="icon_width" matTooltip="Edit">
                      <svg viewBox="64 64 896 896" (click)="editquestion(row.id)" data-icon="edit" width="16"
                        fill="#3e4095" height="16" aria-hidden="true">
                        <path
                          d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                        </path>
                      </svg>
                    </div>
                    <div class="icon_width" matTooltip="Delete"> 

                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="16"
                        (click)="deleteBtn(row)" height="16">
                        <path d="M10 12V17" stroke="red" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M14 12V17" stroke="red" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M4 7H20" stroke="red" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10" stroke="red"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="red"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </div>
                  </div>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">
                  <div class="text-center d-block border-bottom-0">
                    <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
                    <h6 class="no-record mt-3">No Data Available</h6>
                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
        <div class="text-end d-block mt-3">
          <div class="pagination-format d-inline-block">
            <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>