<div class="row px-3">
    <div class="col-sm-12 border rounded p-3 bg-white">

        <div class="page-header pt-0">
            <div class="page-title">
                <h6 class="mt-0 mb-1 fw-bold text-dark">Change Password</h6>
            </div>
        </div>

        <form action="" [formGroup]="changepasswordForm" class="universal-form overflow-hidden">
            <div class="card mb-0 border-0">
                <div class="card-body p-3">

                    <div class="row">
                        <div class=" col-6 form-group">
                            <label class="mb-2">Old Password
                                <span class="text-danger">*</span>
                            </label>
                            <div class="pass-group">
                                <div class="position-relative">
                                    <input [type]="oldpassword" class="form-control pass-input"
                                        formControlName="oldPassword" placeholder="Old password" />
                                    <span class="fas toggle-password " (click)="onOldClick()"
                                        [ngClass]="oldpassword == 'text'?'ri-eye-line' : 'ri-eye-off-line'"></span>
                                </div>
                                <div>
                                    <span class="text-danger mt-2 d-block"
                                        *ngIf="(changepasswordFormControl['oldPassword'].touched || isSubmitted) && changepasswordFormControl['oldPassword'].errors?.['required']">
                                        Old Password is required
                                    </span>
                                    <span class="text-danger mt-2 d-block"
                                        *ngIf="(changepasswordFormControl['oldPassword'].dirty) && changepasswordForm.hasError('match')">
                                        Old Password and new password is match
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="mb-2">New Password
                                <span class="text-danger">*</span>
                            </label>
                            <div class="pass-group">
                                <div class="position-relative">

                                    <input [type]="newpassword" class="form-control pass-input"
                                        formControlName="newpassword" placeholder="Password" />
                                    <span class="fas toggle-password " (click)="onNewClick()"
                                        [ngClass]="newpassword == 'text'?'ri-eye-line' : 'ri-eye-off-line'"></span>
                                </div>
                                <span class="text-danger mt-2 d-block"
                                    *ngIf="(changepasswordFormControl['newpassword'].touched || isSubmitted) && changepasswordFormControl['newpassword'].errors?.['required']">
                                    New password is required
                                </span>
                                <span class="text-danger mt-2 d-block"
                                    *ngIf="(changepasswordFormControl['newpassword'].dirty) && changepasswordFormControl['newpassword'].errors?.['pattern']">
                                    Password length between 8 to 15 characters in length
                                    combination of upper case, lower case , numbers and special character
                                    (hyphen(-),underscore( _ ) and dot (.))
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-6 form-group ">
                            <label for="confirmPassword" class="mb-2">Confirm Password
                                <span class="text-danger">*</span>
                            </label>

                            <div class="pass-group">
                                <div class="position-relative">
                                    <input [type]="confirmpassword" class="form-control pass-input" id="confirmPassword"
                                        placeholder="Confirm password" formControlName="confirmPassword">
                                    <span class="fas toggle-password " (click)="onConfirmClick()"
                                        [ngClass]="confirmpassword == 'text'?'ri-eye-line' : 'ri-eye-off-line'"></span>
                                    <div>
                                        <span class="text-danger mt-2 d-block"
                                            *ngIf="(changepasswordFormControl['confirmPassword'].touched || isSubmitted) && changepasswordFormControl['confirmPassword'].errors?.['required']">
                                            Confirm password is required
                                        </span>
                                        <span class="text-danger mt-2 d-block"
                                            *ngIf="(changepasswordFormControl['confirmPassword'].dirty) && changepasswordForm.hasError('notSame')">
                                            Password and confirm password does not match
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div>
                        <button class="btn btn-primary px-4 py-2d-inline-block
                             rounded-pill" (click)="onSubmit()">Update</button>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>