<!-- <p>leave-type works!</p> -->
<div class="page-top-header mb-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="title-page">
            <h5 class="card-subtitle mt-0">Leave Settings</h5>
        </div>

    </div>
</div>
<div class="row px-3">
    <div class="col-sm-12 rounded bg-white p-3">

        <div class="content-box " *ngIf="!leaveTypeId && !isleavetypeTittle">
            <div class="page-btn mb-3">
                <div class="">
                    <div class="card-body d-flex bd-highlight justify-content-end">
                        <button class="btn btn-primary px-4 py-2 d-flex align-items-center rounded-pill"
                            (click)="addLeaveType()">
                            <span>Add Settings</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 inside-page" *ngIf="isleavetypeTittle || leaveTypeId">
            <div class="card-body">
                <form [formGroup]="leavetypeform" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <!-- Leave Type -->
                        <div class="col-md-4 my-2">
                            <div class="dataTables_filter">
                                <mat-label class="designation-form-btn label_name mb-2">Leave Type
                                    <span class="text-danger">*</span></mat-label>
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-select formControlName="leaveTypeId" required placeholder="Select leave type">
                                        <mat-option [value]="">Select leave type</mat-option>
                                        <mat-option *ngFor="let type of leaveTypeList" [value]="type.id">
                                            {{ type.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="leavetypeFormControl['leaveTypeId']?.touched && leavetypeFormControl['leaveTypeId']?.invalid && leavetypeFormControl['leaveTypeId']?.errors?.['required']">
                                    Leave Type is required
                                </mat-error>
                            </div>
                        </div>

                        <div class="col-md-4 my-2">
                            <div class="dataTables_filter">
                                <mat-label class="designation-form-btn label_name mb-2">Number of Days<span
                                        class="text-danger">*</span></mat-label>
                                <input formControlName="leaveDays" type="text" class="form-control"
                                    placeholder="Enter total number of days"
                                    [ngClass]="{ 'is-invalid': leavetypeFormControl['leaveDays'].touched && leavetypeFormControl['leaveDays'].invalid }"
                                    appTrimOnBlur (blur)="trimNameOnBlur('leaveDays')" />
                                <mat-error
                                    *ngIf="leavetypeFormControl['leaveDays']?.touched && leavetypeFormControl['leaveDays']?.invalid"
                                    class="mt-2">
                                    <ng-container *ngIf="leavetypeFormControl['leaveDays']?.errors?.['required']">
                                        Number of days is required.
                                    </ng-container>
                                    <ng-container
                                        *ngIf="leavetypeFormControl['leaveDays'].dirty && leavetypeFormControl['leaveDays'].errors?.['pattern']">
                                        Days must be a number.
                                    </ng-container>
                                </mat-error>
                            </div>
                        </div>

                        <!-- Department -->
                        <div class="col-md-4 my-2">
                            <div class="dataTables_filter">
                                <mat-label class="designation-form-btn label_name mb-2">Department</mat-label>
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-select formControlName="DepartmentId" placeholder="Select department name">
                                        <mat-option [value]="">Select department name</mat-option>
                                        <mat-option *ngFor="let department of Department" [value]="department.id">
                                            {{ department.departmentName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>

                        <!-- Designation -->
                        <div class="col-md-4 my-2">
                            <div class="dataTables_filter">
                                <mat-label class="designation-form-btn label_name mb-2">Designation</mat-label>
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-select formControlName="DesignationId" placeholder="Select designation name">
                                        <mat-option [value]="">Select designation name</mat-option>
                                        <mat-option *ngFor="let designation of Designation" [value]="designation.id">
                                            {{ designation.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                    <!-- Buttons row -->
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <div class="d-flex align-items-center justify-content-end">
                                <button type="submit" class="btn btn-primary px-4 rounded-pill">Save</button>
                                <button type="reset" class="btn btn-secondary px-4 ms-2 rounded-pill"
                                    (click)="resetForm()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class=" designation_tableview"> 
            <div class="scrollbox scrollbox_delayed" tabindex="0">
                <div class="mat-elevation-z8 fixTableHead   scrollbox-content user_request_list shadow-none">
                    <table mat-table [dataSource]="dataSource" class="apply_leave  ">

                        <!-- Leave Type Column -->
                        <ng-container matColumnDef="leaveType">
                            <th mat-header-cell *matHeaderCellDef>Leave Type</th>
                            <td mat-cell *matCellDef="let element"> {{ element.leaveTypeName }} </td>
                        </ng-container>

                        <!-- days Column -->
                        <ng-container matColumnDef="days">
                            <th mat-header-cell *matHeaderCellDef>Days</th>
                            <td mat-cell *matCellDef="let element"> {{ element.leaveDays }} </td>
                        </ng-container>

                        <!-- Department Column -->
                        <ng-container matColumnDef="departmentName">
                            <th mat-header-cell *matHeaderCellDef>Department</th>
                            <td mat-cell *matCellDef="let element"> {{ element?.departmentName ?element?.departmentName
                                : '-' }} </td>
                        </ng-container>

                        <!-- Designation Column -->
                        <ng-container matColumnDef="designationName">
                            <th mat-header-cell *matHeaderCellDef>Designation</th>
                            <td mat-cell *matCellDef="let element"> {{ element?.designationName ?
                                element?.designationName : '-' }} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="">Action
                            </th>
                            <td mat-cell *matCellDef="let element" class="">

                                <div class="d-flex align-items-center">
                                    <div class="icon_width btn_hover me-3">
                                        <svg viewBox=" 64 64 896 896" focusable="false" matTooltip="Edit"
                                            (click)="editLeaveType(element.id)" data-icon="edit" width="16" height="16"
                                            aria-hidden="true">
                                            <path
                                                d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                                            </path>
                                        </svg>
                                    </div> 
                                </div>
                            </td>
                        </ng-container>

                        <!-- Header and Row Declarations -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- No Data Message -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">
                                <div class="text-center d-block border-bottom-0">
                                    <img style="width: 25%;" src="assets/images/no-data.png" alt="No Data" />
                                    <h6 class="no-record mt-3">No Data Available</h6>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- start : pagination -->
            <div class="text-end d-block my-3">
                <div class="pagination-format d-inline-block">
                    <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>

        </div>
    </div>
</div>