.self-assform {
    background: #f7fbff;

    .title-header {
        background: #c5eefc;
        padding: 15px;
    }

    .e-card {

        border: 1px solid #ddd;
        border-radius: 6px;
        background: #ffffff;
        min-height: 44px;
        padding: 0 10px;

        label { 
            font-weight: 600;
        }

        h6 {
            margin-bottom: 0px !important;
            color: #3e4095;
        }
    }

    .check-box {
        border: 1px solid #ddd;
        padding: 25px;
        background: #fff;
        border-radius: 6px;

        .choose-btns {
            li {
                margin: 0 8px;
            }

            li:first-child {
                margin-left: 0;
            }
        }
    }

    .btn.btn-outline {
        border: 1px solid #c2c2c2 !important;
        color: #1890ff;
        background: #fcfcfc;
        padding: 0px 22px !important;
        height: 45px;
        line-height: 48px;
    }

    .mat-button-toggle-checked {
        color: #fff !important;
        background: #1890ff !important;
    }

    .mat-button-toggle-label-content {
        padding: 0 8px !important;
        line-height: normal !important;
    }

    h6 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px !important;
    }

}