<form class="leave_form mt-3 universal-form" [formGroup]="form" (ngSubmit)="Save()">

  <div class="card-body">
    <div class="row g-3">

      <div class="col-sm-12">
        <div class="form-group mb-0">
          <mat-label class="label_name">Account Name <span
            [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100 mt-2">

            <input matInput placeholder="Enter account name" formControlName="accountName" required>
          </mat-form-field>
          <mat-error *ngIf="form.get('accountName').hasError('required') && form.get('accountName').touched ">
            Account name is required
          </mat-error>
          <mat-error class="text-danger"
            *ngIf="(bankFormControl['accountName'].touched) && bankFormControl['accountName'].errors?.['pattern']">
            Only alphanumeric are allow
          </mat-error>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group mb-0">
          <mat-label class="label_name">Account Number <span
            [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span></mat-label>
          <mat-form-field class="w-100 mt-2" appearance="outline">
            <input matInput placeholder="Enter account number" formControlName="accountNumber" required>
          </mat-form-field>
          <mat-error class="text-danger"
            *ngIf="form.get('accountNumber').hasError('required') && form.get('accountNumber').touched ">Account
            number is required
          </mat-error>
          <mat-error class="text-danger" *ngIf="bankFormControl['accountNumber'].hasError('pattern')">Please
            enter only digit
          </mat-error>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group mb-0">
          <mat-label class="label_name">Bank Name <span
            [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span></mat-label>
          <mat-form-field class="w-100 mt-2" appearance="outline">
            <input matInput placeholder="Enter bank name" formControlName="bankName" required>
          </mat-form-field>
          <mat-error *ngIf="form.get('bankName').hasError('required') && form.get('bankName').touched ">
            BankName is required
          </mat-error>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group mb-0">
          <mat-label class="label_name">Bank Branch <span
            [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span></mat-label>
          <mat-form-field class="w-100 mt-2" appearance="outline">
            <input matInput placeholder="Enter bank branch" formControlName="bankBranch" required>
          </mat-form-field>
          <mat-error *ngIf="form.get('bankBranch').hasError('required') && form.get('bankBranch').touched ">
            Bank branch is required
          </mat-error>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group mb-0">
          <mat-label class="label_name">IFSC Code <span
            [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span></mat-label>
          <mat-form-field class="w-100 mt-2" appearance="outline">
            <input matInput placeholder="Enter IFSC code" formControlName="ifscCode" required>
          </mat-form-field>
          <mat-error *ngIf="form.get('ifscCode').hasError('required') && form.get('ifscCode').touched ">
            IFSC code is required
          </mat-error>
          <mat-error class="text-danger" *ngIf="bankFormControl['ifscCode'].hasError('pattern')">Please
            enter valid IFSC code
          </mat-error>
        </div>
      </div>

    </div>
  </div>

  <div class="d-flex my-3 mx-4 border-top justify-content-end pt-3">
    <button type="submit" class="btn btn-primary me-3 px-4 py-2 rounded-pill"
      [ngClass]="userRole[0]?.canAdd ? 'd-block' : 'd-none' "> Save</button>
    <button type="button" class="btn btn-secondary px-4 py-2 rounded-pill" (click)="cancle()"> Clear </button>
  </div>

</form>


<div class="card-body">

  <div class="mat-elevation-z8 table-responsive  user_request_list border rounded shadow-none ">
    <table mat-table [dataSource]="dataSource" class="apply_leave">

      <!-- Position Column -->
      <ng-container matColumnDef="accountName">
        <th mat-header-cell *matHeaderCellDef>Account Name</th>
        <td mat-cell *matCellDef="let element"> {{element.accountName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell *matHeaderCellDef>Account Number</th>
        <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef>Bank Name</th>
        <td mat-cell *matCellDef="let element">{{element.bankName}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="bankBranch">
        <th mat-header-cell *matHeaderCellDef>Bank Branch</th>
        <td mat-cell *matCellDef="let element">{{element.bankBranch
          }} </td>
      </ng-container>
      <ng-container matColumnDef="ifscCode">
        <th mat-header-cell *matHeaderCellDef>IFSC Code</th>
        <td mat-cell *matCellDef="let element">{{element.ifscCode }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="">Action</th>
        <td mat-cell *matCellDef="let element" class="">


          <div class="d-flex align-items-center btn_hover">
            <div class="icon_width" *ngIf="userRole[0]?.canEdit" matTooltip="Edit">
              <svg viewBox="64 64 896 896" focusable="false" (click)="editBankDetilas(element)" data-icon="edit"
                width="1em" height="1em" aria-hidden="true">
                <path
                  d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                </path>
              </svg>
            </div>

            <div *ngIf="userRole[0]?.canDelete" matTooltip="Delete">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" (click)="deleteBankDetails(element)" height="24"
                viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          <div class="text-center d-block border-bottom-0">
            <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
            <h6 class="no-record mt-3">No Data Available</h6>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="text-end d-block mb-3 me-3 mt-4">
    <div class="pagination-format d-inline-block">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

</div>