<div class="row row-flex px-3 mb-3">
  <div class="card-body px-3 mt-3 project_tableview">
    <div class="scrollbox scrollbox_delayed mt-3" tabindex="0">
      <div class="fixTableHead  scrollbox-content  ">
        <table mat-table class="mat-elevation-z8   shadow-none mb-0" [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
            <td mat-cell *matCellDef="let element"> {{element?.projectName ? element?.projectName : element?.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="technologySpecification">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Technology </th>
            <td mat-cell *matCellDef="let element">{{element.technologySpecification
              }} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
            <td mat-cell *matCellDef="let element">{{element.startDate | date: dateFormat}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let element">{{element.endDate | date: dateFormat}} </td>
          </ng-container>
          <!-- Symbol Column -->

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"
              [ngClass]="{'s-complete': (element.status) === 2,'s-inprogress': (element.status) === 1,'s-hold':(element.status) === 3 }">
              <!-- {{ convertStatus(element.status)}} -->
              <div class="status-box">
                <i class="ri-focus-2-line"></i>
                <span>{{convertStatus(element.status )}}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> priority </th>
            <td mat-cell *matCellDef="let element"
              [ngClass]="{'p-low': (element.priority) === 2,'p-medium': (element.priority) === 1,'p-high':(element.priority) === 0 }">
              <!-- {{ convertPriority(element.priority)}} -->
              <div class="priority-box">
                <i class="ri-focus-line"></i>
                <span>{{ convertPriority(element.priority)}}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class=""> Action</th>
            <td mat-cell *matCellDef="let element" class="action-td">

              <button class="icon-more" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="action-icons-box">
                <div>
                  <i class="ri-user-line text-success" role="button" *ngIf="userRole[0]?.canEdit"
                    (click)="assignUser(element.id)" matTooltip="Assign User"></i>
                </div>
                <div matTooltip="Edit" role="button" *ngIf="userRole[0]?.canEdit">
                  <svg viewBox="64 64 896 896" focusable="false" data-icon="edit" (click)="editItem(element.id)"
                    width="1em" height="1em" aria-hidden="true">
                    <path fill="#1890ff"
                      d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                    </path>
                  </svg>
                </div>
                <div matTooltip="Delete" role="button" *ngIf="userRole[0]?.canDelete">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" (click)="deleteProject(element)" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                  </svg>
                </div> 
                <div matTooltip="Project Details" role="button">
                  <i class="ri-list-view text-warning-emphasis"
                    (click)="projectSprintTask(element?.id ?? element?.projectId)"></i>
                  </div>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">
              <div class="text-center d-block border-bottom-0 my-3">
                <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
                <h6 class="no-record mt-3">No Data Available</h6>
              </div>
            </td>
          </tr>

        </table>

      </div>
    </div>
    <div class="text-end d-block mt-3">
      <div class="pagination-format d-inline-block">
        <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">
          <div class="text-center d-block border-bottom-0">
            <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
            <h6 class="no-record mt-3">No Data Available</h6>
          </div>
        </td>
      </tr>

    </div>
  </div>