.wide-column {
    width: 260px;
    max-width: 260px;
    min-width: 260px;
    text-wrap: auto;
}

.wide-columnn {
    width: 730px;
    max-width: 730px;
    min-width: 730px;
    text-wrap: auto;
}