<div class="page-top-header mb-0">
    <h5 class="card-subtitle mt-0">Upload File </h5>
</div>
<section class="multi-upload">
    <div class="card">

        <div class="p-3">
            <div class="d-flex flex-wrap flex-md-nowrap">
                <div class="upload-box">
                    <img src="assets/images/multi-upload.png" alt="logo img" />
                    <div class="input-box mt-4">
                        <input type="file" (change)="onFileSelected($event)" multiple="multiple" />
                    </div>
                    <div class="mt-3">
                        <div>Upload file with employee ID 
                        </div>
                        <div class="text-muted">Example: <i>SKY001_DocumentName.pdf</i></div>
                    </div>
                    <hr class="mt-4 mb-3">
                    <div class="w-100 text-end">
                        <button class="btn btn-primary px-4 py-2 rounded-pill" (click)="uploadFiles()">Upload</button>
                    </div>
                </div>
                <div class="uploaded-files" *ngIf="selectedFiles.length > 0">
                    <h6>Selected Files:</h6>
                    <ul>
                        <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>