<div class="d-none">
   <div class="leave_detail_section">
      <div class="header">
         <h4>Attendance & Leave</h4>
      </div>
      <div class="calender">
         <div class="year_select_box">
            <mat-form-field appearance="outline" class="">
               <mat-label>Select Year</mat-label>
               <mat-select matNativeControl style="font-size: 0.875rem;" [(ngModel)]="selectedYear"
                  (ngModelChange)="onYearSelection($event)" id="year">
                  <mat-option class="text-muted" *ngFor="let year of years" [value]="year"> {{year}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div> 
      </div>
   </div>
   <div class="leave_data mt-4 row">
      <div class="col-xxl-6 col-xl-6">
         <div class="data_of_leave">
            <p>Total Leaves</p>
            <p class="bg_col1">{{totalLeave}}</p>
         </div>
      </div>
      <div class="col-xxl-6 col-xl-6">
         <div class="data_of_leave">
            <p>Available Leaves</p>
            <p class="bg_col2">{{totalLeaveBlance}}</p>
         </div>
      </div>
      <div class="col-xxl-6 col-xl-6">
         <div class="data_of_leave">
            <p>Taken Leaves</p>
            <p class="bg_col3">{{takenLeave}}</p>
         </div>
      </div>
      <div class="col-xxl-6 col-xl-6">
         <div class="data_of_leave">
            <p>Pending for Approval</p>
            <p class="bg_col4">{{pendingLeave ? pendingLeave : 0 }}</p>
         </div>
      </div>
      <div class="col-xxl-6 col-xl-6">
         <div class="data_of_leave">
            <p>Working Days</p>
            <p class="bg_col5">{{workingDays}}</p>
         </div>
      </div>
      <div class="col-xxl-6 col-xl-6">
         <div class="data_of_leave">
            <p>Loss of Pay</p>
            <p class="bg_col6">{{cutLeave}}</p>
         </div>
      </div>
   
   </div>
   <div class="footer_block" (click)="onApplyLeave()">
      <div class="btn_block">
         <button class="btn inner_btn">
            <p>Apply for leave </p>
            <div class="arrow_design">
               <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
   
                  <g id="SVGRepo_bgCarrier" stroke-width="0" />
   
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
   
                  <g id="SVGRepo_iconCarrier">
                     <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
                        fill="#148eff" />
                  </g>
   
               </svg>
            </div>
         </button>
      </div>
   </div>
</div>

<div>
   <div class="title-dropdown">
       <div class="ink-title">
         Attendance & Leaves
       </div>
       <div class="drop-down">
           <div class="dropdown year_select_box">
             
               <mat-form-field appearance="outline" class="">
                  <mat-label>Select Year</mat-label>
                  <mat-select matNativeControl style="font-size: 0.875rem;" [(ngModel)]="selectedYear"
                     (ngModelChange)="onYearSelection($event)" id="year">
                     <mat-option class="text-muted" *ngFor="let year of years" [value]="year"> {{year}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
           </div>
       </div>
   </div>
   <div class="row">
       <div class="col-md-6 mt-4">
           <div class="digit color-1">
            {{totalLeave}}
           </div>
           <div class="text">
               Total Leaves
           </div>
       </div>
       <div class="col-md-6 mt-4">
           <div class="digit color-2">
            {{pendingLeave ? pendingLeave : 0 }}
           </div>
           <div class="text">
               Pending for Approval
           </div>
       </div>
       <div class="col-md-6 mt-4">
           <div class="digit color-3">
            {{takenLeave}}
           </div>
           <div class="text">
               Taken
           </div>
       </div>
       <div class="col-md-6 mt-4">
           <div class="digit color-4">
            {{workingDays}}
           </div>
           <div class="text">
               Working Days
           </div>
       </div>
       <div class="col-md-6 mt-4">
           <div class="digit color-5">
            {{totalLeaveBlance}}
           </div>
           <div class="text">
            Available Leaves
           </div>
       </div>
       <div class="col-md-6 mt-4">
           <div class="digit color-6">
            {{cutLeave}}
           </div>
           <div class="text">
               Loss of Pay
           </div>
       </div>
   </div>
   <div class="btn btn-1 mt-4 w-100" (click)="onApplyLeave()">
       Apply New Leave
   </div>
</div>