<div class="row px-3 new_leave_detail">

    <div class="col-sm-12 px-0 custom-remove pb-3">
        <div class="tab_section">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Leave Summary">
                    <div class="leave_summury_top d-flex align-items-center justify-content-between  mt-4">

                        <div class="center_calander d-flex">
                            <div class="year_select_box me-3 ">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select Year</mat-label>
                                    <mat-select style="font-size: 0.875rem;" [(ngModel)]="selectedYear"
                                        (ngModelChange)="onYearSelected($event)" id="year">
                                        <mat-option *ngFor="let year of years" [value]="year">{{ year
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="aplybtn">
                            <button class="btn btn-primary" (click)="onApply()">Apply Leave</button> 
                        </div>
                    </div>
                    <div class="leave_block p-0 mt-3">
                        <ul class="p-0">
                            <li *ngFor="let leave of leaveTypeList">

                                <div class="leav_boxes">
                                    <div class="leave_type">
                                        <p matTooltip="{{leave?.leaveTypeName}}" matTooltipClass="custom-tooltip_top">
                                            {{leave?.leaveTypeName}}
                                        </p>
                                    </div>
                                    <div class="icon_leave">
                                        <img class="img-fluid" [src]="transformImage(leave?.icon)" alt="icon">
                                    </div>
                                    <div class="seprater"></div>
                                    <div class="leave_detail">
                                        <div class="pending_leave">
                                            <p>Available</p>
                                            <p>{{leave?.remainingLeaveDays}}</p>
                                        </div>
                                        <div class="booked_leave">
                                            <p>Booked</p>
                                            <div class="d-flex align-items-center">
                                                <p>{{leave?.usedLeaveDays}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="upcoming_holidays bg-white common_section">
                        <div class="top_select">
                            <mat-form-field appearance="outline">

                                <mat-select [(ngModel)]="selectedUpcomingLeave" (ngModelChange)="onLeaveChange($event)">
                                    <mat-option *ngFor="let option of upcomingLeaveOptions" [value]="option.value">
                                        {{ option.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- for upcoming leave table -->
                        <div class="booked_leave_list">
                            <div class="scrollbox scrollbox_delayed mt-3" tabindex="0">
                                <div class="fixTableHead  scrollbox-content leave_table ">
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 apply_leave ">

                                        <ng-container matColumnDef="Leave">
                                            <th mat-header-cell *matHeaderCellDef>Leave Date</th>
                                            <td mat-cell *matCellDef="let element" class="">
                                                <ng-container *ngIf="element.startDate; else singleDate">
                                                    {{ element.startDate | date: dateFormat }} - {{ element.endDate
                                                    |
                                                    date:
                                                    dateFormat }}
                                                </ng-container>
                                                <ng-template #singleDate>
                                                    {{ element.date | date: dateFormat }}
                                                </ng-template>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="RequestDate">
                                            <th mat-header-cell *matHeaderCellDef>Request Date</th>
                                            <td mat-cell *matCellDef="let element" class="">{{
                                                element.leaveRequestDate
                                                ?
                                                (element.leaveRequestDate |
                                                date: dateFormat):"-" }} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Status">
                                            <th mat-header-cell *matHeaderCellDef>Status</th>
                                            <td mat-cell *matCellDef="let element"
                                                [ngClass]="{'text-success': getStatusLabel(element.approval) === 'Approved','text-warning': getStatusLabel(element.approval) === 'Pending','text-danger': getStatusLabel(element.approval) === 'Rejected'}">
                                                {{ (element.approval || element.approval ==0) ?
                                                getStatusLabel(element.approval)
                                                : ''}}

                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="LeaveType">
                                            <th mat-header-cell *matHeaderCellDef> Leave Type </th>
                                            <td mat-cell *matCellDef="let element" class=""> {{
                                                element.leaveTypeName ?
                                                element.leaveTypeName : '-' }} </td>
                                        </ng-container> 
                                        <ng-container matColumnDef="leaveDays">
                                            <th mat-header-cell *matHeaderCellDef> Duration </th>
                                            <td mat-cell *matCellDef="let element">
                                                <ng-container *ngIf="element?.leaveDays === 0.5; else fullLeave">
                                                    {{ getHalfLabel(element?.startHalf) }}
                                                </ng-container>
                                                <ng-template #fullLeave>
                                                    {{ element?.leaveDays }} {{ element?.leaveDays > 1 ? 'Days' : 'Day'
                                                    }}
                                                </ng-template>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Reason">
                                            <th mat-header-cell *matHeaderCellDef> Reason </th>
                                            <td mat-cell *matCellDef="let element" class="reason bg-transparent">
                                                <span mat-raised-button class="d-inline-block reason">

                                                    <ng-container *ngIf="element.reason; else description">
                                                        <span [matTooltip]="element.reason">
                                                            {{ element.reason }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-template #description>
                                                        <span [matTooltip]="element?.description">
                                                            {{ element?.description }}
                                                        </span>
                                                    </ng-template>
                                                </span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="WFH">
                                            <th mat-header-cell *matHeaderCellDef> WFH </th>
                                            <td mat-cell *matCellDef="let element">
                                                <a [href]="attachmentURL + element?.leaveFile?.replace('wwwroot\\', '')"
                                                    target="_blank" *ngIf="element?.leaveFile">
                                                    <div style="height:100%;width:100%">
                                                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                            fontIcon="home"></mat-icon>
                                                    </div>
                                                </a>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Remark">
                                            <th mat-header-cell *matHeaderCellDef> Remark </th>
                                            <td mat-cell *matCellDef="let element" class="reason bg-transparent">
                                                <span mat-raised-button class="d-inline-block reason"
                                                    [matTooltip]="element.rejectionReason"
                                                    aria-label="Button that displays a tooltip when focused or hovered over">
                                                    {{ element.rejectionReason }}
                                                </span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell *matHeaderCellDef class=""> Action </th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                <div class="d-flex align-items-center">
                                                    <div class="icon_width pe-3 me-3">
                                                        <svg viewBox="64 64 896 896" focusable="false"
                                                            [attr.fill]="isButtonDisabled(element) ||element.approval === 2|| element.approval === 1 ||element.approval===3?'#adb5bd' : '#1890ff'"
                                                            stroke="#1890ff"
                                                            [attr.disabled]="isButtonDisabled(element) ||element.approval === 2 || element.approval === 1 ||element.approval===3? true : null"
                                                            (click)="isButtonDisabled(element) ||element.approval === 2 || element.approval === 1 ||element.approval===3? null :edituser(element.id)"
                                                            width="19px" height="19px" aria-hidden="true">
                                                            <path
                                                                d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            [attr.stroke]="isButtonDisabled(element)|| element.approval === 1 || element.approval === 2 || element.approval===3 ? 'gray' : 'red' "
                                                            [attr.disabled]="isButtonDisabled(element) ||element.approval === 2 ||element.approval === 1 || element.approval===3 ? true : null"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="red" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather feather-x"
                                                            (click)="isButtonDisabled(element) || element.approval === 1 || element.approval === 2 ||element.approval===3? null :cancel(element.id)">
                                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell text-center py-4"
                                                [attr.colspan]="displayedColumns.length">
                                                No Data Available
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Leave Balance">
                    <app-new-leave-balance></app-new-leave-balance>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>




<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-body">
        <div class="drawer-header">
            <h3>Approve timeline</h3>
            <div class="close_btn">
                <button class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <div class="drawer_content">
            <ul class="firstlevel">
                <li>
                    <div class="user_detail">
                        <div class="iamge_block">
                            <img class="img-fluid" src="../../../../../assets/images/leave/userimage.jpg"
                                alt="User Image">
                        </div>
                        <div class="user_content_Detail">
                            <p>Sky001&nbsp;-&nbsp;Nehal Patel's request has been sent for approval
                            <p>
                            <p>25-Jun-2025 <span>06:08 PM</span></p>
                        </div>
                    </div>

                    <ul class="secondlevel">
                        <li>
                            <div class="status pending">
                                <p class="status_leave pending">Pending</p>
                            </div>
                            <div class="aproved_detail">
                                <div class="user_detail">
                                    <div class="iamge_block">
                                        <img class="img-fluid" src="../../../../../assets/images/leave/user2.jpg"
                                            alt="User Image">
                                    </div>
                                    <div class="user_content_Detail">
                                        <p>01&nbsp;-&nbsp;Ketan Prajapati has been approve your request
                                        <p>
                                        <p>26-Jun-2025 <span>10:08 AM</span></p>
                                    </div>
                                </div> 
                            </div>
                        </li>
                        <li>
                            <div class="status approve">
                                <p class="status_leave approved">Aprroved</p>
                            </div>
                            <div class="aproved_detail">
                                <div class="user_detail">
                                    <div class="iamge_block">
                                        <img class="img-fluid" src="../../../../../assets/images/leave/user2.jpg"
                                            alt="User Image">
                                    </div>
                                    <div class="user_content_Detail">
                                        <p>02&nbsp;-&nbsp;HR has been Canceled your request
                                        <p>
                                        <p>26-Jun-2025 <span>02:00 PM</span></p>
                                    </div>
                                </div>
                                <div class="status_leaves approved">
                                    <p>Your leave has been approved. Kindly make sure any pending work is taken care of
                                        in advance.
                                    <p>
                                </div> 
                            </div>
                        </li>
                        <li>
                            <div class="status reject">
                                <p class="status_leave reject">Rejected</p>
                            </div>
                            <div class="aproved_detail">
                                <div class="user_detail">
                                    <div class="iamge_block">
                                        <img class="img-fluid" src="../../../../../assets/images/leave/user2.jpg"
                                            alt="User Image">
                                    </div>
                                    <div class="user_content_Detail">
                                        <p>02&nbsp;-&nbsp;HR has been approve your request
                                        <p>
                                        <p>26-Jun-2025 <span>02:00 PM</span></p>
                                    </div>
                                </div>
                                <div class="status_leaves reject">
                                    <p>Your leave request has been rejected due to current workload constraints. Kindly
                                        coordinate with your team lead for
                                        alternative dates.
                                    <p>
                                </div> 
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>