.scrollbox {
    height: 300px;
    overflow: auto;
    visibility: hidden;
    padding: 0 3px 0 0;
}



.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
    visibility: visible; 
}

.scrollbox_delayed {
    transition: visibility 0.2s;

}

.scrollbox_delayed:hover {
    transition: visibility 0s 0.2s;
}

/* Apply to the entire page or specific container */
::-webkit-scrollbar {
    width: 3px !important;
    /* Thin vertical scrollbar */
    height: 5px !important;
    /* Increase height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f0f0f0 !important;
    /* Light track color */
    border-radius: 10px !important;
    /* Rounded edges for smooth look */
}

::-webkit-scrollbar-thumb {
    background: #7879ad !important;
    /* Light gray thumb */
    border-radius: 10px !important;
    /* Rounded thumb */
    transition: background 0.3s !important;
    /* Smooth hover transition */
}

::-webkit-scrollbar-thumb:hover {
    background: #7879ad !important;
    /* Darker shade on hover */
}

.addbons {
    .search_org {
        position: absolute !important;
        top: -29px !important;
        right: 0 !important;
        width: 100% !important;
        left: auto;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}