<div class="page-top-header mb-0">
    <h5 class="card-subtitle mt-0">Review Master List</h5>
</div>

<div class="row px-3">
    <div class="col-sm-12 border rounded bg-white p-3 custom-remove reviewmaster_tableview">

        <!-- Start : table -->
        <div class="">
            <div class="card-body d-flex bd-highlight justify-content-end mb-3">
                <button type="button" class="btn btn-primary rounded-pill px-4 py-2"
                    [routerLink]="['/employee-review-master-details/admin-review-master-questions']">Add</button>
            </div>
            <div class="scrollbox scrollbox_delayed mt-3" tabindex="0">
                <div class="fixTableHead  scrollbox-content"> 
                    <table mat-table class="mat-elevation-z8   shadow-none mb-0" [dataSource]="dataSource" matSort>
                        <!-- Employee Id Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                            <td mat-cell *matCellDef="let element">{{element?.title}}</td>
                        </ng-container>
                        <!-- Employee name Column -->
                        <ng-container matColumnDef="reviewDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Review Date</th>
                            <td mat-cell *matCellDef="let element">{{element?.reviewDate | date: dateFormat}}</td>
                        </ng-container>
                        <!-- Employee name Column -->
                        <ng-container matColumnDef="dueDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
                            <td mat-cell *matCellDef="let element">{{element?.dueOn | date: dateFormat}}</td>
                        </ng-container>
                        <!-- Employee CTC Column -->
                        <ng-container matColumnDef="reviewType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Review Type</th>
                            <td mat-cell *matCellDef="let element">{{ getReviewTypeName(element?.type) }}</td>
                        </ng-container>
                        <!-- Employee CTC Column -->
                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                            <td mat-cell *matCellDef="let element">{{element?.department?.departmentName}}</td>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class=""> Action
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex align-items-center">
                                    <div class="ri-eye-fill icon_width me-3" matTooltip="view"
                                        (click)="viewReview(element)" style="font-size: 19px;  color: #3e4095;"
                                        matColumnDef="view">

                                    </div>
                                    <a style="padding: 6px 14px !important;cursor: pointer;"
                                        class="px-3 rounded-pill apply_btn" (click)="applybtn(element.id)"
                                        style="color:green">Apply</a>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="6">
                                <div class="text-center d-block border-bottom-0">
                                    <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
                                    <h6 class="no-record mt-3">No Data Available</h6>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- End : table -->
            <!-- start : pagination -->
            <div class="text-end d-block mt-3">
                <div class="pagination-format d-inline-block">
                    <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
            <!-- end : pagination -->
        </div>
    </div>
</div>