<div class="regularization">
  <div class="d-flex align-items-center justify-content-between bg-primary  p-3 px-4 ">
    <h6 class=" fw-bold text-white ">Request Approval</h6>
    <h6 class="text-white"> 27-4-1193</h6>
  </div>
  <div class="card border-0 mb-0">
    <div class="card-body ">
      <h6 class=" fw-bold ">In Time</h6>
      <h6 class=" fw-bold ">Out Time</h6>
    </div>
    <div class="text-end regularization_btn mb-3"> 
      <button type="button" class="btn btn-secondary me-3" (click)="cancelPopup()"> Cancel</button>
    </div>
  </div>