.hidden-select {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    width: 200px;
    max-width: 100%;
}

.assign-trigger {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}

.dropdown-icon {
    font-size: 20px;
    vertical-align: middle;
}

.hidden-input {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.priority-select {
    width: 130px;

    ::ng-deep .mat-select-panel {
        max-width: 160px !important;
    }
}

.disabled-svg {
    opacity: 0.25;
    pointer-events: none;
}

.ticket_outer {
    width: 175px;
    justify-content: space-between;
    padding: 3px 15px;
    border-radius: 6px;

    p {
        text-wrap: nowrap;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
    }

    &.nt {

        background-color: #e3f2ff;
    }

    &.st {
        background-color: #caf9ca;
    }

    &.ot {
        background-color: #ffe9c0;
    }

    &.pt {
        background-color: #ffccc6;
    }
}

.main_box {
    margin: 10px 10px;

    .spectacledcoder-search-bar {
        width: 50px;
        height: 40px;
        margin: auto;
        background-color: white;
        display: flex;
        border-radius: 0% 30px 30px 30px;
        transition: width 1s;
        box-shadow: 5px 5px 20px #efefef,
            -5px -5px 30px white; 
        top: 102px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .search-icon {
        padding: 5px;
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 10px;
        margin-right: auto;
        border-radius: 50%;
        background-color: white;
    }

    .spectacledcoder-search-bar:hover {
        width: 230px;
        border-radius: 0% 30px 30px 30px;
    }

    .spectacledcoder-search-input {
        margin: auto;
        display: none;
        transition: display 12s;
        outline: none;
        border: none;
        font-family: 'Belanosima', sans-serif;
        border-radius: 25px;
        padding-left: 10px;
    }

    .spectacledcoder-search-bar:hover .spectacledcoder-search-input {
        display: inline-flex;
        width: 78%;
        height: 70%;
    }

    input[type="submit"] {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        .spectacledcoder-search-bar:hover {
            width: 80%;
            border-radius: 0% 30px 30px 15px;
        }
    }

    .nav {
        width: 80%;
        height: 60px;
        margin: auto;
        background-color: white;
        display: flex;
        border-radius: 15px;
        box-shadow: 5px 5px 20px #d8e6fd, -5px -5px 30px white;
        margin-bottom: 50px;
        margin-top: 250px;
    }

    .content {
        width: 80%;
        height: 400px;
        margin: auto;
        background-color: white;
        display: flex;
        border-radius: 15px;
        box-shadow: 5px 5px 20px #d8e6fd, -5px -5px 30px white;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: rgba(226, 247, 255, 0);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ccccd7;
        border-radius: 10px;
        height: 10px;
        width: 3px;
    }

    .nav p {
        margin: auto;
        color: #303030;
    }

    .disclaimer {
        margin: auto;
        width: fit-content;
        color: rgb(0, 0, 0);
    }

    .disclaimer a {
        text-decoration: none;
        color: #6fa4ff;
    }

    .disclaimer a:hover {
        color: #4a8cff;
    }

    ::selection {
        background-color: #ffffff00;
        color: #ffffff00;
    }

}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 

}

.left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.add_new {
    .btn {
        min-height: 30px;
        padding: 5px 16px 5px 12px !important;
        background-color: #da0a65;
        display: flex;
        align-items: center;
        color: white;
        font-size: 14px;


    }
}

.right {
    .dropdown {
        .dropdown-menu.show {
            position: absolute;
            inset: 0px auto auto 0px;
            margin: 0px;
            transform: translate(-31px, 41px) !important;
            width: 580px !important; 
            left: auto !important;
            top: 14px !important;
            right: 0 !important;

        }

        .form-control {
            padding: 2px 9px !important;
        }

        input[type="text"] {
            font-size: 12px !important;
        }

        input[type="date"] {
            font-size: 12px !important;
            text-transform: uppercase;
        }
    }

    .apply_filter {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;

        p {
            a {
                font-size: 14px;
            }
        }

        p {
            margin: 0;
            max-width: 150px;
            border: 1px solid #4a8cff;
            padding: 5px 10px;
            border-radius: 6px;
        }



    }

    .dropdown-menu {
        padding: 20px;
        z-index: 999 !important;




    }

    .mat-mdc-form-field-focus-overlay {
        background-color: rgb(255 255 255 / 87%);
    }

    .mat-mdc-text-field-wrapper {
        height: 40px;
    }

    .mdc-line-ripple {
        display: none;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #fff;
        border: 1px solid gray;
        min-height: 20px;
        padding: 0;
        border-radius: 4px !important;

    }

    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
        padding-top: 2px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-mdc-form-field-infix {
        min-height: 26px;
    }

    .form-select {
        font-size: 13px;
        height: 40px;
        background: white;
        border: 1px solid gray !important;

        &:focus-visible {
            outline: none;
            border: none;
            box-shadow: none;
        }

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }

    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
        border-radius: 50%;
        display: none;
    }
}

.container {
    height: 200px;
    line-height: 200px;
    text-align: center
}

.search-form {
    right: 200px;
    top: 200px;
}

.search-field {
    background-color: transparent;
    background-image: url('data:image/svg+xml,%3Csvg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="%231890ff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: none;
    cursor: pointer;
    height: 40px; 
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    // width: 0px;
    cursor: pointer;
    background-color: #fff;
    border: 0.5px solid #1890ff;
    outline: 0;
    max-width: 250px;
    color: #000;
    border-radius: 8px;
} 

.search-form .search-submit {
    display: none;
}

.table_main {
    .mat-table-container {
        // overflow-x: auto;
    }

    table {
        // min-width: 800px;
        /* or whatever width forces scroll */
    }

    th,
    td {
        white-space: nowrap;
    }

    .sticky-column {
        position: sticky; 
        background: white;
        z-index: 2;
        left: -2px;
        right: auto;
    }

    .mat-header-cell {
        position: sticky;
        top: 0;
        z-index: 3;
        background: white;
    }

    .mat-mdc-menu-trigger {
        width: 100%;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .priorityes .mat-mdc-form-field {
        width: 100%;
    }

    .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
        opacity: 0;
        background-color: orange;
    }

    .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
        opacity: 0;
    }

    .mdc-text-field--outlined .mdc-notched-outline {
        z-index: 0; 
        border: 1px solid gray;
        border-radius: 5px;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__trailing {
        border: none !important;
    }

    .mdc-line-ripple {
        display: none;
    } 

    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
        padding-top: 0;
        padding-bottom: 0;
    }

    div#mat-select-0-panel {
        padding: 0;
    }

    .mat-mdc-select-arrow-wrapper {

        position: absolute;
        right: 8px;
        top: 20%;
    }

    .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
        height: 43px;
        font-size: 14px;
    }

    .mat-mdc-select-arrow svg {
        fill: currentColor;
        position: relative;
        top: auto;
        left: auto;
        transform: translate(-50%, -50%);
        right: 0;
    }

    .mat-mdc-form-field-infix {
        min-height: 36px !important;
    }

    .ticketid {
        a {
            color: #000000;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                color: gray;
            }
        }
    }

    .table_main .mdc-text-field--filled {
        height: 55px !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: var(--mdc-filled-text-field-container-color);
        background: none;
    }

    .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
        cursor: pointer;
        padding: 0;
        border-radius: 0;
    }

    .table_main .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
        background-color: orange;
    }

    .newselect {
        width: 100%;
        padding: 14px;
    }


    .selected-box {
        padding: 5px 12px;
        border-radius: 0;
        display: inline-block;
        font-weight: 500;
    }

    .mat-form-field {
        width: 100%;
        margin: 20px 0;
    }



    .mat-select {
        font-size: 16px;
    }

    .mat-option {
        padding: 10px;
    }

    thead th,
    thead .mdc-data-table__header-cell {
        background: white !important;
        color: #000;

    }

    td,
    th {
        border-right: 1px solid #e0e0e0;
    }

    .mat-mdc-select-trigger {
        padding: 0;
    }

    .mat-mdc-row {
        height: 30px;
    }

    .mat-mdc-select-placeholder {
        color: var(--mat-select-placeholder-text-color);
        font-size: 15px;
    }

    .mdc-text-field--filled {
        height: 45px;
    } 

    .mytrig .mat-mdc-select-trigger {
        padding: 0px;
    }

    .mdc-icon-button {
        background-color: transparent;
    }

    .mat-mdc-icon-button {
        --mat-mdc-button-persistent-ripple-color: transparent;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        height: 34px !important;
        padding: 3px;
    }

    .duedate {
        background-color: #caf9ca;
    }

    .mat-mdc-select-min-line {
        font-size: 14px;
    }


}

div.mat-mdc-select-panel {
    padding: 0 !important;
    max-height: 100% !important;
    height: 300px;
}

.mat-mdc-header-row {
    height: 40px !important;
}

table .mdc-data-table__header-cell {
    font-weight: 600 !important;
}

.table_main .selected-box {
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 0;
}

.cdk-overlay-pane {
    max-width: 230px; 
}

.pagination-format {
    .mat-mdc-paginator-page-size-select {
        width: 84px;

    }


}

.ticket_header {
    p {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }
}

.dropdown {
    .mat-mdc-form-field.matdate {
        width: 100%;
        height: 37px;
    }
}

.right .mdc-text-field--filled:not(.mdc-text-field--disabled) {

    border-radius: 0;
}

.mat-mdc-icon-button svg {
    position: absolute;
    top: 5px;
    right: 6px;
}

.ticket_main {
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
        height: 34px !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 0;
    }
}

.table_main .mat-mdc-select {
    line-height: 2.7 !important;
}

.dropdown-panel {
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: auto;
    width: 660px;
}

.top_main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .left {
        p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;

            span {
                color: gray;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }

    .right {
        p {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            color: #1890ff;
            cursor: pointer;
        }


    }


}

.mat-mdc-paginator-outer-container {
    .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
        padding: 0 5px;
    }

    .mat-mdc-select-arrow-wrapper {
        position: absolute;
        right: 0;
        top: 9%;
    }

    .mat-mdc-icon-button svg {
        position: absolute;
        top: 5px;
        right: 6px;
    }
}

.mat-mdc-select-arrow {
    width: 10px;
    height: 22px;
    position: relative;
    color: var(--mat-select-enabled-arrow-color);
}

.mat-mdc-option .mdc-list-item__primary-text {
    font-size: 15px !important;
}