<div class="inside-page">
  <div class="page-top-header mb-0" *ngIf="!isProfile && !requestId">
    <h5 class="card-subtitle m-0 text-muted fs-6">Assign user</h5>
  </div>

  <div class="row px-3">
    <div class="col-md-12 p-3 bg-white border rounded">
      <div class="back_btn cursor-pointer" *ngIf="!isProfile && !requestId"> 
        <span (click)="navigate()"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM13.92 16.13H9C8.59 16.13 8.25 15.79 8.25 15.38C8.25 14.97 8.59 14.63 9 14.63H13.92C15.2 14.63 16.25 13.59 16.25 12.3C16.25 11.01 15.21 9.97 13.92 9.97H8.85L9.11 10.23C9.4 10.53 9.4 11 9.1 11.3C8.95 11.45 8.76 11.52 8.57 11.52C8.38 11.52 8.19 11.45 8.04 11.3L6.47 9.72C6.18 9.43 6.18 8.95 6.47 8.66L8.04 7.09C8.33 6.8 8.81 6.8 9.1 7.09C9.39 7.38 9.39 7.86 9.1 8.15L8.77 8.48H13.92C16.03 8.48 17.75 10.2 17.75 12.31C17.75 14.42 16.03 16.13 13.92 16.13Z" />
          </svg></span>
      </div>


      <div class="">
        <div class="row">
          <div class="col-md-6" *ngIf="!isProfile && !requestId">
            <form class=" border-top-0 universal-form" [formGroup]="userForm">
              <div class="card">
                <div class=" row card-body p-3">
                  <div class="col-12 mb-3">
                    <mat-label class="label_name">Project Name </mat-label>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput formControlName="projectName" placeholder="Enter project name" />
                    </mat-form-field>
                    <mat-error
                      *ngIf="userForm.get('projectName').hasError('required') && userForm.get('projectName').touched">
                      Project name is required
                    </mat-error>
                  </div>
                  <div div class="col-12 mb-3">
                    <mat-label class="label_name">Select Designation <span
                        [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span>
                    </mat-label>
                    <mat-form-field class="w-100">
                      <mat-select placeholder="Select Designation" formControlName="designationId"
                        (selectionChange)="onDesignationChange($event)">
                        <div class="select-container">
                          <mat-option *ngFor="let option of designationList" [value]="option.id">
                            {{ option?.name }}
                          </mat-option>
                        </div>
                      </mat-select>
                    </mat-form-field>
                    <div class="text-danger">
                      <span class="mt-2 d-block"
                        *ngIf="userForm.controls['designationId']?.touched && userForm.controls['designationId'].hasError('required')">
                        Designation is required
                      </span>
                    </div>
                  </div>


                  <div div class="col-12 mb-3">
                    <mat-label class="label_name">Select User <span
                        [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span></mat-label>
                    <mat-form-field class="w-100">
                      <mat-select placeholder="Select User" [formControl]="selectFormControl" multiple>

                        <mat-select-trigger>
                          {{ getEmployeeName(selectFormControl.value) }}
                        </mat-select-trigger>

                        <mat-optgroup>
                          <mat-form-field style="width: 100%">
                            <input #search autocomplete="off" placeholder="Search" aria-label="Search" matInput
                              [formControl]="searchTextboxControl" />
                            <button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear"
                              (click)="clearSearch($event)">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        </mat-optgroup>

                        <mat-optgroup *ngIf="employeeList.length == 0">
                          <div>No results found!</div>
                        </mat-optgroup>

                        <mat-option *ngFor="let option of filterEmployeeList" [value]="option.personId">
                          {{ option.personName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-error *ngIf="selectFormControl.hasError('required') && selectFormControl.touched">
                      User is required
                    </mat-error>
                    <div class="text-danger">
                    </div>
                  </div>
                  <div div class="col-12 ">
                    <mat-label class="label_name">Start Date
                      <span [ngClass]="isView ? 'd-none' : 'text-danger' ">*</span>
                    </mat-label>
                    <mat-form-field class="w-100 mt-2  mb-3" appearance="outline">
                      <input matInput [matDatepicker]="startPicker" formControlName="startDate"
                        placeholder="Select StartDate" required />
                      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                      <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="userForm.get('startDate').hasError('required') && userForm.get('startDate').touched">
                      Start date is required
                    </mat-error>

                    <mat-label class="label_name">End Date
                    </mat-label>
                    <mat-form-field class="w-100 mt-2" appearance="outline">
                      <input matInput [matDatepicker]="endPicker" formControlName="endDate" placeholder="Select EndDate"
                        required />
                      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                      <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="userForm.get('endDate').hasError('required') && userForm.get('endDate').touched">
                      End date is required
                    </mat-error>

                  </div>
                </div>
                <div class="d-flex mb-3 mx-4 justify-content-end pt-3">
                  <button type="submit" class="btn btn-primary me-3 px-4 py-2 rounded-pill"
                    (click)="AssignProjectuser()">
                    Submit</button>
                  <button type="button" class="btn btn-secondary px-4 py-2 rounded-pill" (click)="navigate()"> Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div [ngClass]="isProfile || requestId ? 'col-sm-12' : 'col-md-6'">
            <div class="card asignuser_tableview p-3">
              <div class="scrollbox scrollbox_delayed" tabindex="0">
                <div class="mat-elevation-z8 fixTableHead  scrollbox-content user_request_list shadow-none">
                  <table mat-table [dataSource]="dataSource" class="apply_leave border rounded">
                    <ng-container matColumnDef="user">
                      <th mat-header-cell *matHeaderCellDef> User </th>
                      <td mat-cell *matCellDef="let element"> {{ element?.person?.firstName + ' ' +
                        element?.person?.lastName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="project">
                      <th mat-header-cell *matHeaderCellDef> Project </th>
                      <td mat-cell *matCellDef="let element"> {{ element?.project?.projectName
                        }} </td>
                    </ng-container>
                    <ng-container matColumnDef="designation">
                      <th mat-header-cell *matHeaderCellDef> Designation </th>
                      <td mat-cell *matCellDef="let element"> {{ element?.designation?.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                      <th mat-header-cell *matHeaderCellDef> Start Date </th>
                      <td mat-cell *matCellDef="let element"> {{ element?.project?.startDate | date:dateFormat}} </td>
                    </ng-container>
                    <ng-container matColumnDef="endDate">
                      <th mat-header-cell *matHeaderCellDef> End Date </th>
                      <td mat-cell *matCellDef="let element"> {{ element?.project?.endDate | date:dateFormat }} </td>
                    </ng-container>
                    <ng-container matColumnDef="isActive">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element">
                        {{ convertStatus(element?.project?.status) }} 
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let row">
                        <div class="d-flex align-items-center ">
                          <div class="icon_width" matTooltip="Delete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" (click)="deleteBtn(row?.id)" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-x">
                              <line x1="18" y1="6" x2="6" y2="18"></line>
                              <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="7">
                        <div class="text-center d-block border-bottom-0">
                          <img style="width: 25%" src="assets/images/no-data.png" alt="img" />
                          <h6 class="no-record mt-3">No Data Available</h6>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div> 

              <div class="text-end d-block my-3" *ngIf="!isProfile && !requestId">
                <div class="pagination-format d-inline-block">
                  <!-- Paginator -->
                  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements"></mat-paginator>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>