.color-success{
    background-color: rgba(15, 183, 107, .12) !important;
    color: #26af48 !important;
}

.color-warning{
    background-color: rgba(255, 152, 0, .12) !important;
    color: #f39c12 !important;
}