<div class="row salarytab_tableview">
     <div class="col-md-3">
        <mat-form-field appearance="outline" class="">
            <mat-label>Select Year</mat-label>
            <mat-select matNativeControl style="font-size: 0.875rem;" [(ngModel)]="selectedYear"
                (ngModelChange)="onYearSelected($event)" id="year">
                <mat-option class="text-muted" *ngFor="let year of years" [value]="year"> {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
     </div>
    <div class="col-sm-12 custom-remove pb-3">
        <!-- Start : Table -->
        <div class="scrollbox scrollbox_delayed" tabindex="0">
        <div class=" scrollbox-content fixTableHead">
            <table mat-table [dataSource]="dataSource" class="  mat-elevation-z8 apply_leave ">
                <!-- month Column -->
                <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
                    <td mat-cell *matCellDef="let element">{{element?.month}}</td>
                </ng-container>
                <!-- month paidSalary -->
                <ng-container matColumnDef="paidSalary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid Salary</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <span appAmountMasking [propertyName]="'paidSalary'" [dataValue]="element.paidSalary" class="cursor-pointer">
                        </span>
                    </td>
                </ng-container>
                <!-- month cutLeaves -->
                <ng-container matColumnDef="cutLeaves">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cut Leaves</th>
                    <td mat-cell *matCellDef="let element">{{element?.cutLeave}}</td>
                </ng-container>
                <!-- month actualSalary -->
                <ng-container matColumnDef="actualSalary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actual Salary</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <span appAmountMasking [propertyName]="'actualSalary'" [dataValue]="element.actualSalary" class="cursor-pointer">
                        </span>
                    </td>
                </ng-container>
                <!-- Employee dynamic Column -->
                <ng-container [matColumnDef]="columnName" *ngFor="let columnName of columnNames">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ transformColumnName(columnName) }}</th>
                    <td mat-cell *matCellDef="let element">
                         <span appAmountMasking [propertyName]="'columnName'" [dataValue]="element[columnName]" class="cursor-pointer">
                        </span>
                    </td>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="">Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex align-items-center">
                            <div class="ri-file-download-fill me-2" matTooltip="Download" (click)="downloadPaySlip(element)">
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">
                        <div class="text-center d-block border-bottom-0">
                            <img style="width: 25%;" src="assets/images/no-data.png" alt="img" />
                            <h6 class="no-record mt-3">No Data Available</h6>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <!-- End : Table -->
    </div>
</div>