.setting-icon {
    height: 20px;
    width: 20px;
} 

.form-switch .form-check-input {
    border: 1ps solid black !important;
}

.check-icon {
    height: 20px;
    width: 20px;
}

.hide-btn {
    background-color: #ffffff;
    border: none;
}